<div class="footer">
    <div class="rotated-background">
        <div class="wrapper">
            <div class="grid grid-2-1-1">
                <div class="grid-item">
                    <h1>Impressum</h1>
                    <div class="grid grid-1-1">
                        <div>
                            <div class="two-rows bold">Angaben gemäß §5 TMG</div>

                            <span class="bold">Matthias Seifert</span> <br>
                            Reisewitzer Straße 5 <br>
                            01159 Dresden <br>
                            01525 5911161 <br>
                            matthe.seifert@gmail.com
                        </div>
                        <div>right</div>
                    </div>
                </div>
                <div class="grid-item">
                    <h1>Rechtliches</h1>
                </div>
                <div class="grid-item">
                    <h1>Social</h1>
                </div>
            </div>
        </div>
    </div>
</div>