<div class="footer">
    <div class="rotated-background">
        <div class="wrapper">
            <div class="grid grid-2-1-1">
                <div class="grid-item">
                    <h1>Impressum</h1>
                    <div class="grid grid-1-1">
                        <div>
                            <div class="two-rows bold">Angaben gemäß §5 TMG</div>

                            <span class="bold">Matthias Seifert</span> <br>
                            Reisewitzer Straße 5 <br>
                            01159 Dresden <br>
                            01525 5911161 <br>
                            matthe.seifert@gmail.com
                        </div>
                        <div>
                            <div class="bold v-padding-m">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</div>
                            <span class="bold">Matthias Seifert</span> <br>
                            Reisewitzer Straße 5 <br>
                            01159 Dresden
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <h1>Rechtliches</h1>
                    <div class="v-padding-m lspacing-2">
                        <a href="#">Datenschutz</a> <br>
                        <a href="#">Haftungsausschluss</a> <br>
                        <a href="#">Bildnachweise</a> <br>
                    </div>
                </div>
                <div class="grid-item">
                    <h1>Social</h1>
                    <div class="v-padding-m social-links lspacing-2">
                        <a href="#"><img src="images/twitter.svg"> Twitter</a> <br>
                        <a href="#"><img src="images/xing.svg"> Xing</a> <br>
                        <a href="#"><img src="images/github.svg"> GitHub</a> <br>
                        <a href="#"><img src="images/dribbble.svg"> dribbble</a> <br>
                        <a href="#"><img src="images/stackoverflow.svg"> StackOverflow</a> <br>
                    </div>
                </div>
            </div>
            <div class="subfooter">
                Design &amp; Entwicklung &copy; 2018 - Matthias Seifert • Made with &gt; in Dresden
            </div>
        </div>
    </div>
</div>