@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="admin-panel">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Control Center">
                    <img src="~/images/icon_control-panel.png" alt="Kontrollcenter">
                </a>
            </li>
            <li>
                <button type="submit" title="Logout">
                    <img src="~/images/icon_logout.png" alt="Logout">
                </button>
            </li>
        </ul>
    </form>
}