// Variables
backgroundColor = #131615
primaryColor = #0ACD76
secondaryColor = #0C62D2
tintedWhite = #C1CBC6
defaultGradient = linear-gradient(to right, primaryColor, #3BD1E7, secondaryColor)
defaultGradientDimmed = linear-gradient(to right, rgba(primaryColor, .2), rgba(#3BD1E7, .2), rgba(secondaryColor, .2))
defaultFontSize = 20px
primaryBlur = radial-gradient(primaryColor, transparent 70%)
secondaryBlur = radial-gradient(secondaryColor, transparent 70%)


// Font Definition
@font-face {
    font-family Figtree
    font-weight 100 900
    src: url('./figtree.ttf')
}

@font-face {
    font-family DM Serif Display
    src: url('./dmserif.ttf')
}