@import './config.styl'

// Styles


body
    background backgroundColor
    color white
    font-family Figtree, sans-serif
    font-size defaultFontSize
    position relative
    margin 0
    padding 0

a
    color white
    text-decoration none
    font-weight 500

    &:visited
        color white

    &:before, &:after
        content ''
        position absolute
        height 1em
        border-radius 50%
        background-color transparent
        filter blur(.5em)
        z-index -1
        opacity .8
        transition background-color .3s ease-in-out

    &:before
        width 120%
        right -1em
        bottom -.15em
        transform rotate(10deg)

    &:after
        width 80%
        height 1em
        left -.5em
        transform rotate(-5deg)

    &:hover:before
        background-color secondaryColor

    &:hover:after
        background-color primaryColor

    &.no-hover-effect:after, &.no-hover-effect:before
        display none         

h1 
   font-size 1.2em
   position relative

   &:after
        content ''
        width 2em
        height 3px
        display block
        position absolute
        bottom -.5em
        background defaultGradient
        border-top-left-radius 2px
        border-top-right-radius 2px
        border-bottom-right-radius 2px

    &#aboutMe, &#projects
        padding-top 5em


.text-color-primary
    color primaryColor

.text-glow-primary 
    text-shadow 0 0 1em rgba(primaryColor, .4)    

.text-color-secondary
    color secondaryColor

.text-glow-secondary    
    text-shadow 0 0 1em rgba(secondaryColor, .4)

.block 
    display block

.text-center 
    text-align center        

.btn
    padding 1em 1.5em
    background transparent
    color tintedWhite
    font-size 1em
    font-family Figtree, sans-serif
    font-weight 800
    letter-spacing: .1em
    text-transform uppercase
    border 3px solid tintedWhite
    border-top-left-radius 1em
    border-top-right-radius 1em
    border-bottom-right-radius 1em
    cursor pointer

    &.btn-primary
        border-color primaryColor
        color primaryColor
        position relative
        transition all .4s ease-in-out

    &.btn-secondary
        border none
        color primaryColor
        position relative            
        transition all .4s ease-in-out

    &.btn-primary:hover, &.btn-secondary:hover
        border-color tintedWhite
        color white
        background rgba(#fff, .05)

    &.btn-primary:before, &.btn-primary:after, &.btn-secondary:before, &.btn-secondary:after
        content ''
        display block
        background-color transparent
        position absolute
        width 75%
        height 4em
        transform rotate(10deg)
        border-radius 50%
        z-index -1
        filter blur(1em)
        opacity 0
        transition all .4s ease-in-out

    &.btn-primary:before, &.btn-secondary:before
        top 0
        left 0

    &:after
        bottom 0
        right 0    

    &:hover:before
        content ''
        display block
        background-color primaryColor
        position absolute
        top -1.25em
        left .5em
        width 90%
        height 4em
        transform rotate(10deg)
        border-radius 50%
        z-index -1
        filter blur(1em)
        opacity .3

    &:hover:after
        content ''
        display block
        background-color secondaryColor
        position absolute
        bottom -1em
        right .5em
        width 80%
        height 5em
        transform rotate(-23deg)
        border-radius 50%
        z-index -1
        filter blur(1em)
        opacity .3    

.gap-top-s 
    margin-top 1em

.gap-top-m
    margin-top 3em

.gap-top-l
    margin-top 5em    

.gap-bottom-m
    margin-bottom 3em

.gap-bottom-xl
    margin-bottom 8em

.gap-horizontal-m 
    margin-left 3em
    margin-right 3em        

.inline-block
    display inline-block

.grid
    display grid

    &.col-2
        grid-template-columns 1fr 1fr

.flex
    display flex

    &.flex-col
        flex-direction column

    &.center-h
        align-items center

    &.space-between
        justify-content space-between

    &.wrap
        flex-wrap wrap

    &.gap-3
        gap 3em

.blur
    filter blur(1em)
    transition filter .2s

main
    padding 4em 5em 2em 5em
    position relative
    z-index 1
    min-height calc(100vh - 10em)
    overflow hidden

    &:before
        content ''
        width 80vw
        height 100vh
        background primaryBlur
        opacity .4
        display block
        position absolute
        top calc(-35vh - 100px);
        border-radius 50%
        z-index -1

    &:after
        content ''
        width 100vw
        height 200vh
        background secondaryBlur
        opacity .4
        display block
        position absolute
        right -40vw
        top -90vh
        border-radius 50%
        z-index -1
        //filter blur(5em)
        transform rotate(-45deg)   

#header
    display flex
    align-items center

    h1
        margin-right 5em

    .navigation-bar
        margin 0
        list-style-type none
        display flex

        li.navigation-item
            margin-right 2.5em

// Projects
.project-abstract
    z-index 1
    line-height 1.5em
    flex 2 2 0
    max-width 30em
    margin-right 8em

    h2, h3
        margin 0

    h2
        font-size 1.7em
        margin-top .2em
        line-height 1.2em

    h3
        font-size 1em
        margin-top .5em
        opacity .8
        font-weight 500

    p
        margin-top 2em

.project-overview
    border-radius 2em
    background rgba(#000, .35)
    border 1px solid rgba(#fff, .1)
    padding 3em

.project-stats
    display flex
    flex-direction column
    gap 3em
    align-content start
    z-index 1
    flex 1 1 0
    max-width 12em

.project-showcase
    z-index 1
    flex 2 2 0

    img
        width 30em
        margin-top -2em
        float right

.project-box-m
    display none        

@media screen and (max-width: 1800px)
    .project-abstract
        margin-right 3em

@media screen and (max-width: 1600px)
    .project-overview > div
        flex-direction column

        .project-stats, .project-showcase
            display none

        .project-box-m
            display flex

            .project-stats-m
                justify-content center
                gap 4em

            .project-showcase-m
                width 100%
                text-align center

    .link-tags
        flex-direction row !important

@media screen and (max-width: 1440px)
    main 
        padding-bottom 7em

@media screen and (max-width: 1200px)
    .project-box-m
        flex-direction column

        .project-stats-m
            flex-direction row
            justify-content flex-start !important
            margin 2em 0

        .project-showcase-m 
            text-align left !important

            img
                width 100%
                max-width 30em

@media screen and (max-width: 1000px)
    .project-abstract
        margin-right 0

    .project-overview > div .project-box-m .project-stats-m
        gap 3em !important

    .link-tags
        flex-direction column-reverse !important
        gap 1em
        align-items center

    .link-target-wrapper
        justify-content center !important

    .tcg-filters
        flex-direction column

        .tcg-filter_wrapper
            height 60px

@media screen and (max-width: 620px)        
    body
        font-size 16px

    main
        padding-left 2em
        padding-right 2em

    .tcg-type-filter_reset svg
         margin-top 1.1em !important


@media screen and (max-width: 400px)
    body 
        font-size 14px        