<div class="section">
    <h1>Letzte Blogeinträge</h1>
    <div class="grid grid-1-1-1">
        <div>1</div>
        <div>2</div>
        <div>3</div>
    </div>

    <div class="center">
        <button class="btn offset-top-m">Weitere Beiträge</button>
    </div>
</div>