@model WebApp.Models.HomeViewModel

<div class="section">
    <h1>@ViewBag.UiStrings["headline.latestPosts"]</h1>
    <div class="grid grid-1-1-1 blog offset-top-m">
        <div class="blog-post">
            <div class="blog-post-wrapper">
                 <div class="blog-post-overlay">
                    <div>
                        04. Okt
                    </div>
                </div>
                <img src="images/blog_01.jpg" alt="Blogcover">
            </div>
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet, cons- ectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et</p>
        </div>
        <div class="blog-post">
            <div class="blog-post-wrapper">
                 <div class="blog-post-overlay">
                    <div>
                        04. Okt
                    </div>
                </div>
                <img src="images/blog_02.jpg" alt="Blogcover">
            </div>
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet, cons- ectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et</p>
        </div>
         <div class="blog-post">
            <div class="blog-post-wrapper">
                <div class="blog-post-overlay">
                    <div>
                        04. Okt
                    </div>
                </div>
                <img src="images/blog_03.jpg" alt="Blogcover">
            </div>
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet, cons- ectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et</p>
        </div>
    </div>

    <div class="center">
        <button class="btn offset-top-m">@ViewBag.UiStrings["allPosts"]</button>
    </div>
</div>