@model WebApp.Models.HomeViewModel

<div class="section-rotated-background">
    <div class="wrapper">
        <div class="section">
            <h1>@ViewBag.UiStrings["headline.projects"]</h1>
            <div class="grid grid-1-1">
                <div class="project-item">
                    <img src="images/laptop_m.png" alt="Screenshot des Projektes">
                </div>
                <div class="project-item">
                    <h2>Lyb - Die Buchverwaltungssoftware</h2>

                    <p class="tags">
                        #UI Design • #Backend
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitationullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor.
                    </p>
                    <button class="btn btn-primary offset-top-s">@ViewBag.UiStrings["discoverProject"]</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="center">
    <button class="btn offset-top-m">@ViewBag.UiStrings["allProjects"]</button>
</div>