@model WebApp.Models.HomeViewModel

@using WebApp.Helper

<div class="section-rotated-background">
    <div class="wrapper">
        <div class="section">
            <h1><span>@Utils.GetUiString("headline.projects")</span></h1>
            <div class="grid grid-1-1">
                <div class="project-item">
                    <img src="images/laptop_m.png" class="laptop" alt="Screenshot des Projektes">
                    <img src="images/portfolio_01.png" class="laptop-content" alt="testimage">
                </div>
                <div class="project-item">
                    <h2>Lyb - Die Buchverwaltungssoftware</h2>

                    <p class="tags">
                        #UI Design • #Backend
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitationullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor.
                    </p>
                    <button class="btn btn-primary offset-top-s">@Utils.GetUiString("discoverProject")</button>
                    <button class="btn offset-top-s" style="float: right">@Utils.GetUiString("allProjects")</button>
                </div>
            </div>
        </div>
    </div>
</div>