<div class="section">
    <h1>Was ich biete</h1>
    <div class="grid grid-1-1-1">
        <div class="skill-item">
            <img src="images/design.svg" alt="UI Design">
            <h2>UI Design</h2>
            <p>Klar und strukturiert, simpel aber nicht von der Stange. Designs, die Sie lieben werden!</p>
        </div>
        <div class="skill-item">
            <img src="images/frontend.svg" alt="Frontend Entwicklung">
            <h2>Frontend Entwicklung</h2>
            <p>
                Angular, React oder klassische CMS wie Wordpress & Co. Alles aus einer Hand, vom Konzept bis zur fertigen Seite.
            </p>
        </div>
        <div class="skill-item">
            <img src="images/backend.svg" alt="Backend Entwicklung">
            <h2>Backend Entwicklung</h2>
            <p>
                Von der Datenverwaltung zum Nutzer. Datenbanken,  Schnitt- stellen, alles aus einer Hand.
            </p>
        </div>
    </div>
</div>