@model WebApp.Models.HomeViewModel

<partial name="_header-main" />

<div class="wrapper main-content grid grid-1-2">
    <div class="profile-image">
        <img src="images/profile.jpg" alt="Profile Image">
    </div>
    <div class="description-wrapper">
        <div class="description">
            Hi, ich bin Matthias, freiberuflicher Designer und Softwareentwickler aus Dresden. Neben ansprechenden und 
            modernen Designarbeiten entwickle ich auch Software im Bereich Web und Mobile, sowohl Frontend als auch Backend.
        
            <h2 class="offset-top-m">
                Interessiert an einer Zusammenarbeit?
            </h2>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class=" grid grid-1-2 offset-top-m social-links">
      <div class="flex">
        <div><img src="images/twitter_colored.svg" alt="Logo of Twitter"></div>
        <div><img src="images/xing_colored.svg" alt="Logo of Xing"></div>
        <div><img src="images/github_colored.svg" alt="Logo of GitHub"></div>
        <div><img src="images/dribbble_colored.svg" alt="Logo of Dribbble"></div>
        <div><img src="images/stackoverflow_colored.svg" alt="Logo of StackOverflow"></div>
      </div>
      <div class="offset-left-xl">
          <button class="btn btn-primary offset-right-m">
            <span>Schreiben Sie mir</span>
          </button>
          <button class="btn">
            <span>CV Herunterladen</span>
          </button>
      </div>
    </div>

    <partial name="_whatido"/>
</div>

<partial name="_projects"/>

<div class="wrapper">
    <partial name="_blog"/>
</div>
