/* General styles */
* {
    font-family: 'Fira Sans', sans-serif;
    line-height: 180%;
    font-size: 20px;
    font-variant-ligatures: none;
}

.two-rows {
    line-height: 380%; 
}

.wrapper {
    width: 1200px;
    margin: auto;
}

a {
    font-weight: 700;
    color: #fff;
}

a:visited, a:active {
    color: #fff;
}

a:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

h1 {
    font-family: 'Abril Fatface', serif;
    z-index: 0;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
}

h1:after {
    content: " ";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: -1;
}

h2 {
    font-size: 24px;
    color: #5B5B5B;
}

.bold {
    font-weight: 500;
}

.bolder {
    font-weight: 700;
}

.large {
    font-size: 24px;
}

.center {
    text-align: center;
}

.offset-top-s {
    margin-top: 20px;
}

.offset-top-m {
    margin-top: 40px;
}

.offset-right-m {
    margin-right: 40px;
}

.offset-left-xl {
    margin-left: 130px;
}

.lspacing-2 {
    letter-spacing: 2px;
}

.grid {
    display: grid;
}

.grid-1-1 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;  
}

.grid-1-1-1 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;  
}

.grid-1-1-1-1 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
}

.grid-1-2 {
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;  
}

.grid-2-1-1 {
    -ms-grid-columns: 2fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
}

.v-padding-m {
    padding: 20px 0;
}

.realign {
    transform: rotate(-4deg);
}

.flex {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    width: 100%;
    padding: 0 20px;
    align-items: center;
}

.flex div {
    flex: 1;
    text-align: right;
}

/* Button styles */
.btn {
    border: 1px solid;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    background: #fff;
    border: 1px solid #28A35F;
    color: #28A35F;
}

.btn:not(.btn-primary) {
    transition: background-color 0.2s ease;
}

.btn-primary {
    background:  linear-gradient(to right, #2AA35C 0%,#70B42F 50%,#C3C302 100%);
    border: none;
    color: #fff;
}

.btn:hover {
    color: #fff;
    background: #28A35F;
}

/* Header styles */
.header {
    overflow: hidden;
    padding-bottom: 4%;
}

.header .realign {
    padding-bottom: 200px;
}

.header-nav {
    display: grid;
    padding: 0 80px;
}

.header-nav a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 5px;
    display: inline-block;
    text-align: center;
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.85);
}

.header .rotated-background {
    background: linear-gradient(160deg, #08A24D 0%,#5CB039 25%, #92BB20 50%,#C8C400 75%, #FFC800 100%);
    transform: rotate(4deg);
    width: calc(100% + 60px);
    margin-left: -30px;
}

.background-img {
    /* https://unsplash.com/photos/WYEZba2aiVg */
    background-image: url('../images/bg_header.png');
    background-position-y: 50%;
    background-size:100%;       
    margin-top: -100px;  
    padding: 100px 0 40px;
    max-height: 700px;
}

.introduction {
    text-align: center;
    letter-spacing: 4px;
}

.introduction .intro-s {
    font-family: 'Abril Fatface', serif;
    font-variant-ligatures: none;
    font-size: 30px;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.6);
}

.introduction .intro-l {
    font-family: 'Abril Fatface', serif;
    font-variant-ligatures: none;
    font-size: 100px;
    margin-top: -30px;
    color: #fff;
}

.introduction .intro-sub {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    margin-top: -20px;
    font-weight: 500;
    position: relative;
}

.intro-sub:before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 400px;
    border-bottom: 2px solid rgba(255,255,255,0.8);
}

.intro-sub:after {
    content: "";
    position: absolute;
    right: 0;
    top: 20px;
    width: 400px;
    border-bottom: 2px solid rgba(255,255,255,0.8);
}

.profile-image img {
    border-radius: 50%;
    border: 15px solid #fff;
}

/* Index styles */
.main-content {
    position: relative;
    margin-top: -250px;
    color: #5b5b5b;
}

.description-wrapper {
    position: relative;
}

.description {
    position: absolute;
    bottom: 0;
    left: 100px;
    text-align: justify;
    line-height: 160%;
}

.social-links img {
    transform: scale(2);
}

/* Section styles */
.section {
    padding: 70px 0 20px 0;;
}

.section h1 {
    color: #5B5B5B;
    letter-spacing: 1px;
}

.section h1:after {
    background: #C1DBAC;
}

/* Skills section (what i do) */
.skill-item {
    padding: 40px 50px;
    text-align: center;
}

.skill-item:first-child {
    padding: 40px 50px 40px 0;
}

.skill-item:last-child {
    padding: 40px 0 40px 50px;
}

.skill-item img {
    display: block;
    margin: auto;
}

.skill-item h2 {
    padding: 20px 0;
}

/* rotated section */
.section-rotated-background {
    background: #ECF9F1;
    transform: rotate(-1deg);
    width: calc(100% + 60px);
    margin-left: -30px;
}

/* projects section */
.project-item:first-child {
    padding: 50px 50px 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-item:last-child {
    padding: 50px 0 50px 50px;
}

p.tags {
    color: #28A35F;
    font-size: 18px;
    padding: 20px 0;
}

.section-rotated-background .wrapper {
    transform: rotate(1deg);
}

/* Footer styles */
.footer {
    color: #fff;
    overflow: hidden;
    max-height: 520px;
}

.footer .rotated-background {
    background: linear-gradient(110deg, #2AA35C 0%,#70B42F 50%,#C3C302 100%);
    transform: rotate(4deg);
    width: calc(100% + 60px);
    margin-left: -30px;
    padding-bottom: 100px;
}

.footer .rotated-background .wrapper {
    transform: rotate(-4deg);
    margin: 4% auto;
    padding-top: 40px;
}

.footer h1 {
    color: #fff;
    letter-spacing: 1px;
}

.footer h1:after {
    background: #34660B;
    opacity: 0.5;
}

.subfooter {
    border-top: 1px solid rgba(255,255,255,0.3);
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    color: rgba(255,255,255,0.5);
}

.social-links-footer img {
    margin-top: -4px;
    transform: scale(1);
}