/* Fonts */
$abril: 'Abril Fatface', serif;
$fira: 'Fira Sans', sans-serif;

/* Colors */
$p100: #E2ECE7;
$p200: #C4E6D3;
$p300: #83CCA4;
$p400: #5EB987;
$p500: #28A35F;
$p600: #188A4C;
$p700: #097137;
$p800: #035B2B;
$p900: #003E1C;

$n100: #F2F2F2;
$n200: #E3E6E4;
$n300: #D7D9D7;
$n400: #C6CCC9;
$n500: #ADB3B0;
$n600: #939996;
$n700: #79807C;
$n800: #616663;
$n900: #4D534F;

/* Config Params */
$contentWidth: 1200px;
$defaultOffset: 20px;
$textSize: 20px;

$gradient_l: linear-gradient(160deg, #28A35F 0%,#5CB039 25%, #92BB20 50%,#C8C400 75%, #FFC800 100%);
$gradient_s: linear-gradient(to right, #28A35F 0%,#70B42F 50%,#C8C400 100%);

/* Mixins */
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
 
  // Output standard non-prefixed declaration
  #{$property}: $value;
}

@mixin gridPrefix($value) {
  -ms-grid-columns: $value;
  grid-template-columns: $value;
}

/* General styles */
* {
  font-family: $fira;
  line-height: 160%;
  font-size: $textSize;
  font-variant-ligatures: none;
}

body {
  color: $n900;
}

.mobile, .mobile.flex, .mobile-xs {
  display: none;
}

.two-rows {
  line-height: 380%; 
}

h1 {
  font-family: $abril;
  z-index: 0;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  padding: 0 5px;
  margin-left: -5px;

  span {
    font-family: inherit;
    font-size: inherit;
    background-repeat: repeat-x;
    background-position: 0 80%;
    background-size: 100% 10px;
    padding: 0 5px;
  }
}

h2 {
  font-size: 24px;
  color: $n900;
  line-height: 140%;
}

.wrapper {
  width: $contentWidth;
  margin: auto;

  h1 {
    color: $n900;
    letter-spacing: 1px;

    span {
      background-image: linear-gradient(to right, $p200 0%, $p200 100%);
    }
  }
}

a {
  font-weight: 700;
  color: #fff;

  &:visited, &:active {
    color: #fff;
    text-decoration: none;
  }

  &:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
  }

  &.menu-link {
    display: inline-block;
    text-decoration: none;

    &.active:after {
      content: "";
      width: 50%;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      margin: 10px auto;
      height: 2px;
      background: #fff;
      transition: width .3s;
    }

    &:hover:after {
      width: 60%;
      margin: 10px auto;
    }
  }
}

.bold {
  font-weight: 500;
}

.bolder {
  font-weight: 700;
}

.large {
  font-size: 24px;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.offset-top-s {
  margin-top: $defaultOffset;
}

.offset-top-m {
  margin-top: $defaultOffset * 2;
}

.offset-top-l {
  margin-top: $defaultOffset * 4;
}

.offset-top-xl {
  margin-top: $defaultOffset * 6;
}

.offset-right-s {
  margin-right: $defaultOffset;
}

.offset-right-m {
  margin-right: $defaultOffset * 2;
}

.offset-right-l {
  margin-right: $defaultOffset * 4;
}

.offset-left-m {
  margin-left: $defaultOffset * 2;
}

.offset-left-l {
  margin-left: $defaultOffset * 4;
}

.offset-left-xl {
  margin-left: $defaultOffset * 6;
}

.offset-bottom-s {
  margin-bottom: $defaultOffset;
}

.offset-bottom-m {
  margin-bottom: $defaultOffset * 2;
}

.offset-bottom-l {
  margin-bottom: $defaultOffset * 4;
}

.seperator {
  border-top: 1px solid $n100;
  padding-top: $defaultOffset * 2;
}

.lspacing-2 {
  letter-spacing: 2px;
}

.grid {
  display: -ms-grid;
  display: grid;

  &.grid-1-1 {
    @include gridPrefix(1fr 1fr);
  }
  
  &.grid-1-1-1 {
    @include gridPrefix(1fr 1fr 1fr);  
  }
  
  &.grid-1-1-1-1 {
    @include gridPrefix(1fr 1fr 1fr 1fr);  
  }
  
  &.grid-1-1-1-1-1 {
    @include gridPrefix(1fr 1fr 1fr 1fr 1fr);  
  }
  
  &.grid-1-1-2-1-1 {
    @include gridPrefix(1fr 1fr 2fr 1fr 1fr); 
  }
  
  &.grid-1-2 {
    @include gridPrefix(1fr 2fr);  
  }
  
  &.grid-1-3 {
    @include gridPrefix(1fr 3fr);  
  }
  
  &.grid-2-1 {
    @include gridPrefix(2fr 1fr);  
  }
  
  &.grid-2-1-1 {
    @include gridPrefix(2fr 1fr 1fr);
  }
  
  &.grid-3-1 {
    @include gridPrefix(3fr 1fr);
  }
}

.v-padding-m {
  padding: $defaultOffset 0;
}

.realign {
  @include prefix(transform, rotate(-4deg), ms moz webkit);
}

.flex {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  width: 100%;
  padding: 0 $defaultOffset;
  align-items: center;

  div {
    flex: 1;
    text-align: right;
  }

  &.flex-col {
    flex-direction: column;

    div {
      width: 100%;
      text-align: left;
    }
  }
}

.blur {
  @include prefix(filter, blur(10px), ms moz webkit);
}

.quote {
  font-family: $abril;
  font-size: $textSize * 2;
  text-align: center;
  color: $n800;
  display: flex;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 2px;
  line-height: 140%;
}

.img-caption {
  color: $n400;
  font-style: italic;
}

.relative {position: relative}
.z0{z-index:0}
.z1{z-index:1}

/* defaults for sections */
div.section-light {
  background: $p100;
}

div.rotated-2deg-neg {
  @include prefix(transform, rotate(-2deg), ms moz webkit);
  width: calc(100% + 60px);
  margin-left: -30px;
}

div.realign-2deg-neg {
  @include prefix(transform, rotate(2deg), ms moz webkit);
  padding: 1px 0;
  margin: ($defaultOffset * 2) 0;
}

div.rotated-2deg {
  @include prefix(transform, rotate(2deg), ms moz webkit);
  width: calc(100% + 60px);
  margin-left: -30px;
}

div.realign-2deg {
  @include prefix(transform, rotate(-2deg), ms moz webkit);
  padding: 1px 0;
  margin: $defaultOffset 0;
}

/* Button styles */
.btn {
  border: 1px solid;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
  text-transform: uppercase;
  font-size: $textSize;
  letter-spacing: 3px;
  background: transparent;
  border: 1px solid $p500;
  color: $p500;

  &:not(.btn-primary) {
    @include prefix(transition, background-color 0.2s ease, ms moz webkit);
  }

  &.btn-primary {
    background:  $gradient_s;
    border: none;
    color: #fff;
  }

  &:hover {
    color: #fff;
    background: $p500;
  }

  &.btn-light {
    border-color: #fff;
    color: #fff;
    background: transparent;

    &:hover {
      background: #fff;
      color: $n800;
    }
  }

  img {
    @include prefix(transform, scale(1), ms moz webkit);
  }
}

.additional-fab {
  position: fixed;
  top: 160px;
  right: 50px;
  z-index: 1;
  background: linear-gradient(100deg, #EB3349 0%,#F45C43 100%);
  width: 48px;
  height: 48px;
  /* margin-bottom: 20px; */
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    background: #E10232;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  img {
    margin-top: -5px;
  }
}

.no-icon {
  display: inline-block;
  width: 36px;
}

.headline-sidelined {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding: $defaultOffset 0;
  position: relative;

  &:before, &:after {
    content: " ";
    position: absolute;
    width: 25%; /* Default */ 
    border-bottom: 1px solid #000;
    top: 35px;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

/* Tags */
.tag {
  display: inline-block;
  color: #fff;
  background: $n400;
  padding: 0 15px;
  border-radius: 15px;
  margin: 6px 2px;

}

/* Header styles */
#sticky-header {
  position: absolute;
  top: -150px;
  transition: top 0.2s;

  &.slide-down {
    top: 0;
  }
}

.header {
  overflow: hidden;
  padding-bottom: 4%;
  position: relative;

  .realign {
    padding-bottom: 200px;
  }

  &.header-default {
    z-index: 2;
    position: fixed;
    width: 100%;

    .realign {
      padding-bottom: 0px;
      @include prefix(transform, rotate(-2deg), ms moz webkit);
    }
  }
}

.header-nav {
  padding: 0 $defaultOffset * 2;

  a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 5px;
    display: inline-block;
    text-align: center;
    padding: $defaultOffset 0;
    color: rgba(255, 255, 255, 0.85);
  }

  .logo-background {
    display: flex;
    justify-content: center;

    div {
      width: 174px;
      height: 174px;
      background: rgba(255,255,255,0.5);
      border-radius: 50%;
      padding: 12px;
      margin-top: -65px;
      transform: scale(0.8);
      transition: width 0.2s, height 0.2s, padding 0.2s, margin-top 0.2s;

      &:hover {
        width: 185px;
        height: 185px;
        padding: 18px;
        margin-top: -70px;
      }
    }

    > div {
      position: absolute;
    }

    a {
      background: #fff;
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }
  }

  .logo {
    margin-top: $defaultOffset;
  }
}

.header {
  .rotated-background {
    background: $gradient_l;
    @include prefix(transform, rotate(4deg), ms moz webkit);
    width: calc(100% + 60px);
    margin-left: -30px;
  }

  &.header-default {
    .rotated-background {
      padding-top: 2%;
      margin-top: -2%;
      @include prefix(transform, rotate(2deg), ms moz webkit);
    }
  }
}

.background-img {
  background-image: url('../images/bg_header.png');
  background-position-y: 50%;
  background-size:100%;       
  margin-top: -100px;  
  padding: ($defaultOffset * 5) 0 $defaultOffset;
  max-height: 700px;
}

.introduction {
  text-align: center;
  letter-spacing: 4px;
  margin-top: $defaultOffset;

  .intro-s {
    font-family: $abril;
    font-variant-ligatures: none;
    font-size: $textSize * 1.5;
    color: rgba(255, 255, 255, 0.6);
  }

  .intro-l {
    font-family: $abril;
    font-variant-ligatures: none;
    font-size: $textSize * 5;
    margin-top: -30px;
    color: #fff;
  }

  .intro-sub {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    margin-top: -10px;
    font-weight: 500;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 20px;
      width: 400px;
      border-bottom: 2px solid rgba(255,255,255,0.8);
    }

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 20px;
      width: 400px;
      border-bottom: 2px solid rgba(255,255,255,0.8);
    }
  }
}

.profile-image {
  img {
    border-radius: 50%;
    border: 15px solid #fff;
  }
}

/* Index styles */
.main-content {
  position: relative;
  margin-top: -230px;
  color: $n800;
}

.description-wrapper {
  position: relative;
}

.description {
  position: absolute;
  bottom: 0;
  left: $defaultOffset * 5;
  text-align: justify;
  line-height: 160%;
}

.social-links img.social-icon {
  @include prefix(transform, scale(2), ms moz webkit);
}

/* Section styles */
.section {
  padding: 70px 0 20px 0;
}

/* Skills section (what i do) */
.skill-item {
  padding: 40px 50px;
  text-align: center;

  &:first-child {
    padding: 40px 50px 40px 0;
  }

  &::last-child {
    padding: 40px 0 40px 50px;
  }

  img {
    display: block;
    margin: auto;
  }

  h2 {
    padding: 20px 0;
  }
}


/* rotated section */
.section-rotated-background {
  background: $p100;
  @include prefix(transform, rotate(-1deg), ms moz webkit);
  width: calc(100% + 60px);
  margin-left: -30px;
}

/* projects section */
.project-item{
  &:first-child {
    padding: 50px 50px 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  &:last-child {
    padding: 50px 0 50px 50px;
  }

  img {
    &.laptop {
      z-index: 1;
      position: absolute;
    }

    &.laptop-content {
      width: 80%;
      margin-left: 10%;
      position: absolute;
    }
  }

  p.tags {
    color: $p500;
    font-size: 18px;
    padding: 20px 0;
  }
}

.section-rotated-background .wrapper {
  @include prefix(transform, rotate(1deg), ms moz webkit);
}

/* Blog styles */
.blog {
  .blog-post {
    padding: 0 33px;

    &:first-child {
      padding: 0 66px 0 0;
    }

    &::last-child {
      padding: 0 0 0 66px;
    }

    img {
      width: 100%;
    }

    h2 {
      padding: 10px 0 30px 0;
    }
  }
}

.blog-post-wrapper {
  position: relative;
}

.blog-post-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  background: $gradient_l;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: $defaultOffset * 2;
  @include prefix(transition, opacity 0.2s ease-in-out, ms moz webkit);

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  div {
    position: relative;
    font-family: $abril;
    font-size: 36px;
    letter-spacing: 2px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: " ";
      position: absolute;
      width: 0%;
      height: 0%;
      top: 0;
      left: 0;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      @include prefix(transition, (width 0.3s, height 0.3s), ms moz webkit);
      @include prefix(transition-delay, 0.1s, ms moz webkit);
    }

    &:after {
      content: " ";
      position: absolute;
      width: 0%;
      height: 0%;
      bottom: 0;
      right: 0;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      @include prefix(transition, (width 0.3s, height 0.3s), ms moz webkit);
      @include prefix(transition-delay, 0.1s, ms moz webkit);
    }
  }

  &:hover {
    div:before {
      width: 40%;
      height: 60%;
    }

    div:after {
      width: 40%;
      height: 60%;
    }
  }
}

/* Footer styles */
.footer {
  color: #fff;
  overflow: hidden;
  max-height: 510px;

  .rotated-background {
    background: $gradient_s;
    @include prefix(transform, rotate(4deg), ms moz webkit);
    width: calc(100% + 60px);
    margin-left: -30px;
    padding-bottom: $defaultOffset * 5;

    .wrapper {
      @include prefix(transform, rotate(-4deg), ms moz webkit);
      margin: 4% auto;
      padding-top: $defaultOffset * 2;
    }
  }

  h1 {
    color: #fff;
    letter-spacing: 1px;

    span {
      background-image: linear-gradient(to right, rgba(52,102,11,0.5) 0%, rgba(52,102,11,0.5) 100%);
    }
  }
}

.wrapper-dark { 
  h1 {
    color: #fff;
    letter-spacing: 1px;

    span {
      background-image: linear-gradient(to right, rgba(52,102,11,0.5) 0%, rgba(52,102,11,0.5) 100%);
    }
  }
}

.subfooter {
  border-top: 1px solid rgba(255,255,255,0.3);
  text-align: center;
  margin: $defaultOffset 0;
  padding: 10px 0;
  color: rgba(255,255,255,0.5);

  a {
    color: rgba(255,255,255,0.5);
    @include prefix(transition, color 0.2s, ms moz webkit);

    &:hover {
      color: #fff;

      img {
        opacity: 1;
      }
    }

    img {
      opacity: 0.5;
      @include prefix(transition, opacity 0.2s ease-in-out, ms moz webkit);
    }
  }
}

.social-links-footer img {
  margin-top: -4px;
  margin-right: 8px;
  @include prefix(transform, scale(1.2), ms moz webkit);
}

.footer-icon {
  width: 1.5em;
  margin-top: -5px;
}

/* flying admin panel */
.admin-panel {
  position: fixed;
  z-index: 3;
  top: $defaultOffset;
  right: 50px;
  list-style-type: none;

  li {
    background: $gradient_s;
    width: 48px;
    height: 48px;
    margin-bottom: $defaultOffset;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    @include prefix(transition, box-shadow 0.2s ease-in-out, ms moz webkit);

    &:hover {
      background: $p500;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
  }

  button {
    background: none;
    border: none;
    margin-top: -5px;
  }
}

/* Blog page styles */
.blog-page {
  margin-top: 675px;
}

.blogpost-featured, 
.portfolio-featured,
.casestudy {
  position: absolute;
  top: 0;
  z-index: 0;
  max-height: 650px;
  overflow: hidden;
  width: 100%;
  color: #fff;
}

.blogpost-featured .blogpost-featured-rotated,
.portfolio-featured .portfolio-featured-rotated,
.casestudy .casestudy-rotated {
  position: relative;
  @include prefix(transform, rotate(-3deg), ms moz webkit);
  overflow: hidden;
  max-height: 600px;
  margin-bottom: 3%;
  width: calc(100% + 60px);
  margin-left: -30px;
}

.portfolio-featured .portfolio-featured-rotated,
.casestudy .casestudy-rotated {
  @include prefix(transform, rotate(3deg), ms moz webkit);
  margin-top: -3%;
}

.blogpost-featured {
  .blogpost-featured-rotated img.hero-shot {
    width: 100%;
  }

  .blogpost-featured-gradient {
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .wrapper {
      @include prefix(transform, rotate(3deg), ms moz webkit);
      display: flex;
      align-items: flex-end;
      height: 100%;
    }
  }
  
  h1 {
    color: #fff;

    span {
      background-image: linear-gradient(to right, rgba(52, 102, 11, 0.5) 0%, rgba(52, 102, 11, 0.5) 100%);
    }
  }
}

.portfolio-featured .portfolio-featured-rotated img.hero-shot.blur.realign,
.casestudy .casestudy-rotated img.hero-shot.blur.realign {
  width: 100%;
  @include prefix(transform, rotate(-3deg), ms moz webkit);
}

.portfolio-featured .portfolio-featured-overlay,
.casestudy .casestudy-overlay {
  height: 100%;
  background: rgba(0,0,0,0.65);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  @include prefix(transform, rotate(-3deg), ms moz webkit);
  padding-top: $defaultOffset * 10;
  height: 120%;
}

.blogpost-featured-content {
  max-width: 800px;
  padding: 50px 0;
}

.blogpost-featured-date {
  font-weight: 500;
  font-size: 24px;
  opacity: 0.8;
  letter-spacing: 1px;

  img {
    width: 26px;
    margin-right: 5px;    
  }
}

.blogpost-featured-snippet {
  padding: 30px 0;
}

.blogpost-thumbnail {
  margin: 25px 0;
  overflow: hidden;
  max-height: 235px;
}

.blogpost-content {
  max-height: 270px;
  overflow: hidden;
}

.blogpost-content, .blog-post a h2 {
  line-height: 130%;
  transition: color 0.3s;
}

.blogpost-content a:hover h2, .blog-post a:hover h2 {
  color: $p500;
}

.blogpost-thumbnail {
  a {
    background: $gradient_l;
    display: block;
  }

  img {
    height: 100%;
    max-height: 235px;
    transition: transform 0.3s, opacity 0.3s;

    &:hover {
      @include prefix(transform, scale(1.2), ms moz webkit);
      opacity: 0.3;
    }
  }
}

.blogpost-content-date {
  opacity: 0.3;
  font-size: 18px;
  padding-bottom: $defaultOffset;

  img {
    width: 18px;
  }
}

/* Abotu Me Page */
.wrapper.about-me {
  margin-top: 150px;

  .quote {
    font-family: $abril;
    font-size: 48px;
    text-align: center;
    color: $n800;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 50px 100px 50px;
    letter-spacing: 2px;
  }
}

.colored-img-wrapper {
  position: relative;

  img {
    max-width: 450px;
    z-index: 1;
    position: absolute;
    top: -145px;
  }
}

.section-rotated-background.about-me {
  margin-top: -10px;
  padding: ($defaultOffset * 2) 0;
}

.direct-contact {
  button {
    width: 100%;
    margin: $defaultOffset 0;
  }

  .headline-sidelined {
    color: $n500;
    padding: 30px 0 10px 0;

    &:before, &:after {
      width: 22%;
      border-color: $n400;
      top: 45px;
    }
  }

  div:not(.headline-sidelined) {
    color: $n800;
  }

  img {
    opacity: 0.6;
    width: $defaultOffset;
    margin-top: -1px;
  }
}

.cv-wrapper {
  margin-top: 20px;
  width: 50%;
  border-right: 4px solid $n100;
}

.cv-item {
  width: 100%;
  padding: 0 $defaultOffset;
  position: relative;
  border-radius: 4px;

  &:not(:first-child) {
    margin-top: -100px;

    .timeline-dot {
      margin-top: 25px;
    }
  }

  &:nth-child(even) {
    margin-left: 100%;
    border-right: 4px solid $p500;
    padding-left: 50px;

    .timeline-dot{
      left: -18px;

      &:after {
        content: "\A";
        border-style: solid;
        border-width: 10px 0 10px 15px;
        border-color: transparent transparent transparent $p500;
        position: absolute;
        right: -15px;
        top: 6px;
      }
    }
  }

  &:nth-child(odd) {
    border-left: 4px solid $p500;
    padding-right: 50px;

    .timeline-dot{
      right: -$defaultOffset;

      &:before {
        content:"\A";
        border-style: solid;
        border-width: 10px 15px 10px 0;
        border-color: transparent $p500 transparent transparent;
        position: absolute;
        left: -15px;
        top: 6px;
      }
    }
  }

  .timeline-dot {
    border: 3px solid $p500;
    background: #FFF;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;

    img {
      margin-top: -4px;
    }
  }

  .flex {
    padding: 0;
    margin-bottom: 15px;

    div {
      flex: 0;
    }
  }

  .cv-item-thumbnail {
    margin-right: $defaultOffset;
  }

  div.cv-item-header {
    text-align: left !important;
    flex: 1;
  }
  
  h2 {
    margin: 0;
    letter-spacing: 1px;
  }
}

.cv-item-img {
  height: 90px;
}
 
.cv-employer, .cv-date {
  text-align: left !important;
}

.cv-employer a {
  color: $p500;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s;

  &:hover {
    color: $n800;
  }
}  

.cv-date span {
  color: $n500;
  font-size: 14px;
}

.section-rotated-background.rotated-gradient {
  background: $gradient_s;
  @include prefix(transform, rotate(2deg), ms moz webkit);

  .wrapper {
    @include prefix(transform, rotate(-2deg), ms moz webkit);
    width: 1240px;
    padding: 0 $defaultOffset;
  }

  .overwidth {
    width: calc(100% + ($defaultOffset * 2));
    margin-left: -$defaultOffset;
    padding-bottom: $defaultOffset * 2;
  }
}

.tech-stack {
  padding: 0 $defaultOffset;

  img {
    @include prefix(transform, scale(0.8), ms moz webkit);
    margin: auto;
    display: block;
  }

  h2 {
    color: #FFF;
    display: block;
    text-align: center;
    padding-bottom: 15px;
  }

  p {
    color: #FFF;
  }
}

/* Testimonials */
.testimonial:not(:last-child) {
  margin-bottom: $defaultOffset * 5;
}

.testimonial-content {
  display: flex;
  border-right: 4px solid $p500;
  padding-right: $defaultOffset;
  border-radius: 4px;
  position: relative;
}

.testimonial-image img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.testimonial-quote{
  &:before {
    content: "\201E";
    font-family: $abril;
    color: $n200;
    font-size: 200px;
    position: absolute;
    top: -70px;
    left: 210px;
    z-index: -1;
  }

  p {
    padding-top: 10px;
  }
}

.testimonial-author {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $p500;
  font-weight: 500;

  &:before {
    content: "\2014";
    margin-right: 8px;
  }
}

.testimonial-author-details {
  color: $n500;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.grid.grid-1-3.testimonial{ 
  .testimonial-quote:before {
    left: $defaultOffset;
  }

  .testimonial-content {
    border-left: 4px solid $p500;
    border-right: none;
    margin-left: -50px;
    padding-left: 50px;
  }

  .testimonial-image {
    margin-left: $defaultOffset * 2;
    margin-right: 0;
  }
}

.testimonial-link {
  padding: $defaultOffset * 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Portfolio Styles */
.portfolio-featured {
  .portfolio-featured-rotated {
    max-height: 650px;
  }
}

.transparent-header {
  .header {
    .rotated-background {
      background: none;
    }
  }
}

.portfolio-featured-image {
  padding: $defaultOffset ($defaultOffset * 2) 0 0;

  img {
    width: 100%;
  }
}

.portfolio-featured-snippet {
  padding: 30px 0 0 $defaultOffset;

  div {
    color: rgba(255,255,255,0.3);
    font-size: 18px;
  }

  h2 {
    margin-top: 0;
    color: #fff;
  }

  p {
    max-height: 190px;
    overflow: hidden;
  }
}

/* Case Study - general css */
.casestudy {
  max-height: none;

  .casestudy-rotated {
    max-height: calc(100vh + 120px);
  }

  .casestudy-title {
    font-family: $abril;
    font-size: 100px;
    text-align: center;
    letter-spacing: 1px;
  }
  
  .casestudy-subtitle {
    font-size: 24px;
    letter-spacing: 4px;
    opacity: 0.8;
    text-align: center;
  }

  .caststudy-preview {
    max-height: 40vh;
    display: block;
    margin: ($defaultOffset * 2) auto;
  }  

  .casestudy-scrollformore {
    width: 100px;
    height: 100px;
    border: 4px solid #fff;
    border-radius: 50%;
    margin: auto;
    display: flex;

    img {
      @include prefix(transform, scale(2.5), ms moz webkit);
      margin: auto;
    }
  }
}

.casestudy-projectinfo {
  padding-left: $defaultOffset * 2;
  position: relative;

  img {
    opacity: 0.05;
    position: absolute;
    top: $defaultOffset * 2;
    left: $defaultOffset;
    @include prefix(transform, scale(4), ms moz webkit);
  }

  span {
    &.val {
      display: block;
      color: $n800;
      font-family: $abril;
      font-size: 48px;
      letter-spacing: 1px;
    }

    &:not(.val) {
      display: block;
      color: $n500;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 18px;
      margin-top: -10px;
      line-height: 130%;
    }
  }
}

.hero-headline {
  font-size: 100px;
  font-family: $abril;
  text-align: center;
}

.l4k-hero-branding {
  background: url('../images/stockimage_meet01.jpg');
  background-size: 100%;
  margin-top: -$defaultOffset * 6;
  height: 700px;

  > .overlay {
    background: rgba(0,0,0,0.4);
    height: 100%;

    > .realign-2deg {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .hero-headline {
    color: #fff;
  }
} 

.project-goals { 
  .headline-sidelined {
    margin-top: -$defaultOffset;
    color: $n400;

    &:before, &:after {
      width: calc(50% - 50px);
      border-color: $n400;
    }
  }

  .project-goals__wrapper {
    .flex {
      padding: ($defaultOffset / 2) 0;

      .project-goal-number {
        border: 2px solid $n400;
        border-radius: 50%;
        color: $n600;
        text-align: center;
        padding-top: 2px;
        flex: 0 0 40px;
        height: 40px;
      }

      .project-goal {
        text-align: left;
        padding-left: $defaultOffset;
      }
    }
  }
}

.l4k__new-logo--description {
  position: relative;
  overflow: hidden;
  transform: rotate(-2deg);
  width: calc(100% + 60px);
  margin-left: -30px;

  img {
    width: 100%;
    transform: rotate(2deg);
    margin-top: -5%;
    position: absolute;
    z-index: -1;
  }

  .gradient-overlay {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 60%);
    padding: ($defaultOffset * 4) 0;

    .grid {
      transform: rotate(2deg);
      color: #fff;

      p {
        text-align: justify;
      }
    }
  }
}

/* Contact Page adjustments */
.rotated-background.contact {
  max-height: 700px;
  margin-top: -5%;
  transform: rotate(2deg);

  .realign {
    transform: rotate(-2deg);
  }

  .grid.grid-1-1 {
    padding-top: 200px;

    img {
      width: 100%;
    }

    .flex {
      .center {
        text-align: center;
      }
    }

    .quote {
      margin: auto;
      max-width: 450px;
      color: #FFF;
    }
  }
}

.contact-form {
  input, textarea {
    margin: 20px 20px 20px 0;
    width: 100%;
  }

  div.grid.grid-1-1 {
    div:first-child {
      margin-right: 20px;
    }

    div:last-child {
      margin-left: 20px;
    }
  }
}

div.sendmail-logo {
  position: relative;

  img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    max-width: 750px;
  }
}

/* Forms -- general */
input, textarea {
  padding: 5px 20px;
  border-radius: 25px;
  border: 1px solid $n300;
  background: $n100;

  &::placeholder {
    color: $n400;
  }
}

input[type="checkbox"] {
  width: auto;
  margin-left: 20px;
}

/* Responsive Styles */
@media ( max-width: 1250px ) {
  /* Overrides */
  * {font-size: 17px;}
  .desktop {display: none;}
  .tablet {display: block;}
  .offset-left-xl {margin-left: $defaultOffset * 3;}
  .offset-right-m {margin-right: $defaultOffset}
  .btn {letter-spacing: 1px; padding: 0 $defaultOffset;}
  .offset-mobile-none {margin-right: 0; margin-left: 0; margin-top: 0; margin-bottom: 0}
  .mobile.flex {display: flex;}

  .mobile.flex div {
      text-align: center;
      @include prefix(transform, scale(2), ms moz webkit);
      padding: 30px 0;
  }

  h1 {
      font-size: 30px;
  }

  h2 {
      font-size: 20px;
  }

  .wrapper {
      width: 100%;
      padding: 0 50px;
  }

  .header .realign {
      padding-bottom: $defaultOffset * 5;
  }

  .header-nav {
    a {
      font-size: 18px;
      letter-spacing: 2px;
    }

    .logo-background {
      div {
        width: 140px;
        height: 140px;
        padding: 10px;
        margin-top: -45px;

        &:hover {
          width: 150px;
          height: 150px;
          padding: 15px;
          margin-top: -50px;
        }
      }

      a {
        width: 120px;
        height: 120px;
      }
    }

    .logo {
      margin-top: -5px;
      @include prefix(transform, scale(0.8), ms moz webkit);
    }
  }

  .header {
    .wrapper {
      padding: 0 ($defaultOffset * 4);
    }

    .header-nav {
      padding: 0;
    }
  }

  .introduction {
    margin-top: 30px;

    .intro-s {
      font-size: 22px;
      letter-spacing: 1px;
    }

    .intro-l {
      font-size: 55px;
      margin-top: -10px;
      letter-spacing: 2px;
    }

    .intro-sub {
      font-size: 16px;
      margin: 0;
      letter-spacing: 2px;

      &:before, &:after {
        margin-top: -8px;
        border-width: 1px;
        width: calc(50% - 130px);
      }
    } 
  }

  .profile-image {
      text-align: center

      img {
        width: 100%;
        min-width: 200px;
        border-width: 10px;
      }
  }

  .wrapper.main-content {
      margin-top: -130px;

      .description {
        position: initial;
    }
  }

  .description-wrapper {
      padding-top: 130px;
  }

  .grid.grid-1-2.social-links {
      display: block;
  }

  .social-links {
      text-align: center;
  }

  .skill-item {
      padding: 0 !important;
      margin: ($defaultOffset * 2) 10px;
  }

  .section-rotated-background h1 {
      margin-left: 25px;
  }

  .project-item img {
      width: 100%;
  }

  .footer {
      max-height: 430px;
  }

  /* Blog Page */
  .blogpost-featured-gradient .wrapper {
      padding: 0 ($defaultOffset * 5);
  }

  /* About Me Page */
  .wrapper.about-me .quote {
      font-size: 36px;
  }

  .colored-img-wrapper img {
      max-width: 350px;
      top: -65px;
  }

  .section-rotated-background{
    &.rotated-gradient {
      .wrapper {
        width: 100%;
        padding: 0 50px;
      }
    }

    .overwidth {
      width: 100%;
      margin-left: 0;
      display: flex;
      flex-wrap: wrap;

      div.text-stack {
        flex: 0 50%;

        &:first-child {
          margin-bottom: $defaultOffset * 2;
        }

        p {
          text-align: center;
        }
      }
    }
  }
}

@media ( max-width: 1000px ) {
  .block-m {
      display: block;
  }

  .hide-m {
      display: none;
  }

  .wrapper.main-content .description {
      margin-left: -50%;
      margin-top: 15%;
  }

  .skill-section .grid {
      display: block;
      padding: 0 ($defaultOffset * 10);
  }

  .latest-blog-posts .grid {
      display: block;
  }

  .blog {
    .blog-post {
      position: relative;
      margin: ($defaultOffset * 2) 0;
      padding: 0 !important;

      h2 {
        position: absolute;
        top: -30px;
        left: 50%;
      }

      p {
        position: absolute;
        top: 50px;
        left: 50%;
      }

      .blog-post-wrapper {
        width: calc(50% - 20px);
        margin-right: 30px;
      }
    }
  }

  .footer {
    max-height: 680px;

     .grid {
      display: flex;
      flex-wrap: wrap;

      .grid-item {
        flex-basis: 50%;

        &:first-child {
          flex-basis: 100%;
        }
      }
    }

    .grid-1-1 div {
      width: 50%;
    }
  }

  /* Blog */
  .blog-page {
      margin-top: 80%;
  }

  /* About Me */
  .wrapper.about-me {
      padding: 0;

      .quote {
        font-size: 28px;
        padding: 0 25px 75px 25px;
        min-height: 207px;
    }
  }

  .colored-img-wrapper img {
      max-width: 250px;
      top: -73px;
  }    

  div.about-me div.grid.grid-2-1 {
      display: block;
      margin-right: 0;
      padding: 0 30px;
  }

  div.about-me {
    div.grid.grid-2-1 {
      div.offset-right-m {
        margin-right: 0;
      }

      div.direct-contact {
        padding: ($defaultOffset * 2) 0;
      }
    }
  }

  .cv-wrapper {
      width: 100%;
      border-left: 4px solid #F2F2F2;
      border-right: none;
  }

  .cv-item {
      padding-left: 50px;

      &:nth-child(even) {
        margin-left: 0;
      }

      &:nth-child(odd) {
        border-right: 4px solid $p500;
        border-left: none;
    }

    &:not(:first-child) {
      margin-top: $defaultOffset * 4;
    }

    &:nth-child(odd) {
      .timeline-dot {
        left: -$defaultOffset;

        &:before {
          display: none;
        }

        &:after {
          content: "\A";
          border-style: solid;
          border-width: 10px 0 10px 15px;
          border-color: transparent transparent transparent $p500;
          position: absolute;
          right: -15px;
          top: 6px;
        }
      }
    }

    .timeline-dot {
      img {
        margin-top: -1px;
      }
    }
  }

  .testimonial {
    display: block;

    &:not(:first-child) {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: $defaultOffset * 2;
    }
  }

  .testimonial-link {
      display: none;
  }

  .grid.grid-1-3.testimonial .testimonial-content {
      margin-left: 0;
  }

  .direct-contact {
    margin-right: $defaultOffset * 2;

    .headline-sidelined:before, .direct-contact .headline-sidelined:after {
      width: calc(50% - 90px);
    }
  }
}

@media ( max-width: 750px ) {
  .desktop {display: none;}
  .tablet {display: none;}
  .mobile {display: block;}
  .grid {display: block;}
  .grid.grid-mobile {display: grid;}
  .header.header-default {display: none}
  h1 {font-size: 26px;}

  .btn:hover {
      color: #28A35F;
      background: #FFF;
  }

  .header-nav,
  .cv-item-thumbnail,
  .testimonial-image,    
  .testimonial-image img,
  .testimonial-link,
  .testimonial-quote:before {
      display: none;
  }

  .introduction {
    .intro-l {
      font-size: 40px;
    }

    .intro-s {
      font-size: 22px;  
    }

    intro-sub {
      font-size: 14px;
      letter-spacing: 1px;

      &:before, &:after {
        width: calc(50% - 100px);
        margin-top: -10px;
      }
    }
  }

  .description-wrapper {
    padding-top: 0;

    div.flex.mobile {
      padding: 0;
    }
  }

  .wrapper {
    padding: 0 25px;
    
    &.main-content {
      margin-top: -110px;

      .description {
        margin: 15px 0;
      }
    }
  }

  .profile-image img {
      width: 30%;
      border-width: 5px;
  }

  .header .wrapper {
      padding: 0 60px;
  }

  .skill-item, .skill-item:first-child, .skill-item:last-child {
      padding: 40px 0 40px 0;
  }

  .project-item, .project-item:first-child, .project-item:last-child {
      padding: 50px 25px 0 25px;
  }

  .project-item {
    img.laptop {
      z-index: 1;
      position: initial;
    }

    img.laptop-content {
      width: 80%;
      margin-left: 10%;
      position: absolute;
    }

    img {
      width: 100%;
    }

    button {
      margin: 30px auto;
      display: block;
    }
  }

  .section-rotated-background .section {
      padding-top: 40px;
  }

  .skill-section .grid {
      padding: 0;
  }

  .blog{ 
    .blog-post {
      h2 {
        position: initial;
      }

      .blog-post-wrapper {
        width: 100%;
      }

      > a {
        display: block;
        position: absolute;
        bottom: 0;
        padding: 25px;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0) 100%);

        div {
          position: absolute;
          bottom: 0;
          margin-right: 25px;
        }

        span {
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 1px;
          font-size: 13px;
          color: $n800;
          padding: 5px 0;
        }

        h2 {
          color: #fff;
          padding: 0 0 30px 0;
          margin: 0;
        }
      }

      p {
        display: none;
      }
    }
  }

  .blog .blog-post, .blog .blog-post:first-child, .blog .blog-post:last-child {
      padding: 0;
      position: relative;
      margin: 50px 0;
  }

  .blog-post-overlay, .blog-post-overlay:hover {
      display: none;
  }

  .blog-post-wrapper {
      position: initial;
  }

  .footer{ 
    .grid {
        display: block;
    }

    .grid-1-1 div {
      width: 100%;
    }
  }

  /* Mobile  Menu */
  .bottom-menu {
      background: $gradient_s;
      position: fixed;
      bottom: -10px;
      width: calc(100% + 10px);
      margin-left: -5px;
      padding: 10px;
      @include prefix(transform, rotate(-2deg), ms moz webkit);
      box-shadow: 0 -3px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

      .realign {
        @include prefix(transform, rotate(2deg), ms moz webkit);
      }
  }

  .bottom-menu--item, .bottom-menu--item a {
      text-align: center;
      color: #fff;
      font-size: 11px;
      letter-spacing: 1px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 10px;
  }

  .bottom-menu--item img {
      width: 2.2em;
      display: block;
      margin: auto;
  }

  .bottom-menu--item.logo {
    position: relative;

    .logo-background {
      background: rgba(255,255,255,0.5);
      position: absolute;
      top: -30px;
      left: 50%;
      @include prefix(transform, translate(-50%, 0), ms moz webkit);
      border-radius: 50%;
      padding: 8px;

      div {
        background: #fff;
        border-radius: 50%;
        padding: 10px;
      }

      img {
        width: 5em;
        margin-top: -4px;
        margin-bottom: 4px;
      }
    }
  }

  .footer {
    max-height: none;

    .rotated-background {
      width: calc(100% + 90px);
      margin-left: -45px;
      padding-bottom: 10px;

      .wrapper {
        padding: ($defaultOffset * 2) 70px;
      }
    }

    div.disclaimer div, .footer div.socialmedia div {
      line-height: 250%;
    }
  }

  .footer-icon {
      margin-top: -3px;
  }

  .no-icon {
      width: 30px;
  }

  /* Blog */
  .blog-page.blog-main-page {
    margin-top: 480px;
  }

  .blogpost-featured {
    margin-top: -10%;

    .blogpost-featured-gradient .wrapper {
      align-items: flex-start;
      padding: 50px;
    }
  }

  .blogpost-featured-date {
    font-size: 18px;

    img {
      width: 16px;
    }
  }

  .blogpost-thumbnail img {
    width: 100%;
    height: auto;
    max-height: none;
  }

  .blogpost-content {
    margin: 0;

    &:not(.offset-left-m) {
      margin-top: 235px;
    }
  }

  .blog-page .grid.grid-2-1.offset-right-m {
    position: relative;

    .blogpost-thumbnail {
      position: absolute;
      top: 0;
    }
  }

  .blog-main-page.blogpost-featured .blogpost-featured-rotated {
    height: 500px;
  }

  .blog-main-page {
    .blogpost-featured-rotated img.hero-shot {
      width: auto;
      height: 650px;
    }

    .blogpost-featured-content {
      padding: 0;
    }
  }

  .wrapper.about-me {
      margin-top: 50px;
  }

  .colored-img-wrapper {
      display: none;
  }

  .section-rotated-background .overwidth {
    display: block;

    div.tech-stack:not(:last-child) {
      border-bottom: 1px solid rgba(255,255,255,0.2);
      padding-bottom: 30px; 
    }
  }
}

@media ( max-width: 350px ) {
  .grid.grid-mobile.grid-1-1-2-1-1 {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .bottom-menu--item.logo .logo-background {
      display: none;
  }

  .mobile-xs {
      display: block;
  }

  .bottom-menu .mobile-xs a {
      vertical-align: top;
  }

  /* Blog */
  .blogpost-content:not(.offset-left-m) {
      margin-top: 200px;
  }

  .blog-main-page .blogpost-featured-snippet {
      display: none;
  }

  .blogpost-featured-content button {
      margin: 40px 0;
  }

  .cv-item,
  .testimonial-content {
      border-right: none !important;
      border-left: none !important;
      padding-right: 0 !important;
  }

  .testimonial-content {
      padding-left: 0 !important;
  }

  .cv-item p,
  .testimonial-author-details,
  .cv-wrapper button.btn {
      font-size: 14px;
  }

  .direct-contact {
      margin-left: 0 !important;
      margin-right: 0 !important;
  }
}