/* General styles */
* {
    font-family: 'Fira Sans', sans-serif;
    line-height: 180%;
    font-size: 20px;
}

.two-rows {
    line-height: 380%; 
}

.wrapper {
    width: 1200px;
    margin: auto;
}

a {
    font-weight: 700;
    color: #fff;
}

a:visited, a:active {
    color: #fff;
}

a:hover {
    color: rgba(255, 255, 255, 0.4);
}

h1 {
    font-family: 'Abril Fatface', serif;
    z-index: 0;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
}

h1:after {
    content: " ";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: -1;
}

.bold {
    font-weight: 500;
}

.grid {
    display: grid;
}

.grid-1-1 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;  
}

.grid-2-1-1 {
    -ms-grid-columns: 2fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
}

.v-padding-m {
    padding: 20px 0;
}

/* Footer styles */
.footer {
    color: #fff;
    overflow: hidden;
    max-height: 520px;
}

.footer .rotated-background {
    background: linear-gradient(to right, #2AA35C 0%,#70B42F 50%,#C3C302 100%);
    transform: rotate(4deg);
    width: calc(100% + 60px);
    margin-left: -30px;
    padding-bottom: 100px;
}

.footer .rotated-background .wrapper {
    transform: rotate(-4deg);
    margin: 4% auto;
    padding-top: 40px;
}

.footer h1 {
    color: #fff;
}

.footer h1:after {
    background: #34660B;
    opacity: 0.5;
}

.subfooter {
    border-top: 1px solid rgba(255,255,255,0.3);
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    color: rgba(255,255,255,0.5);
}