/* General styles */
* {
    font-family: 'Fira Sans', sans-serif;
    line-height: 160%;
    font-size: 20px;
    font-variant-ligatures: none;
}

body {
    color: #4D534F;
}

.mobile, .mobile.flex, .mobile-xs {
    display: none;
}

.two-rows {
    line-height: 380%; 
}

.wrapper {
    width: 1200px;
    margin: auto;
}

.wrapper h1 {
    color: #4D534F;
    letter-spacing: 1px;
}

.wrapper h1 span {
    background-image: linear-gradient(to right, #C4E6D3 0%, #C4E6D3 100%);
}

a {
    font-weight: 700;
    color: #fff;
}

a:visited, a:active {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

a.menu-link {
    display: inline-block;
    text-decoration: none;
}

a.menu-link.active:after {
    content: "";
    width: 50%;
  }

a.menu-link:after {
    content: '';
    display: block;
    width: 0;
    margin: 10px auto;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

a.menu-link:hover:after {
    width: 60%;
    margin: 10px auto;
}

h1 {
    font-family: 'Abril Fatface', serif;
    z-index: 0;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    padding: 0 5px;
    margin-left: -5px;
}

h1 span {
    font-family: inherit;
    font-size: inherit;
    background-repeat: repeat-x;
    background-position: 0 80%;
    background-size: 100% 10px;
    padding: 0 5px;
}

h2 {
    font-size: 24px;
    color: #4D534F;
    line-height: 140%;
}

.bold {
    font-weight: 500;
}

.bolder {
    font-weight: 700;
}

.large {
    font-size: 24px;
}

.center {
    text-align: center;
}

.offset-top-s {
    margin-top: 20px;
}

.offset-top-m {
    margin-top: 40px;
}

.offset-top-l {
    margin-top: 80px;
}

.offset-top-xl {
    margin-top: 120px;
}

.offset-right-s {
    margin-right: 20px;
}

.offset-right-m {
    margin-right: 40px;
}

.offset-right-l {
    margin-right: 80px;
}

.offset-left-m {
    margin-left: 40px;
}

.offset-left-l {
    margin-left: 80px;
}

.offset-left-xl {
    margin-left: 130px;
}

.offset-bottom-s {
    margin-bottom: 20px;
}

.offset-bottom-m {
    margin-bottom: 40px;
}

.seperator {
    border-top: 1px solid #F2F2F2;
    padding-top: 40px;
}

.lspacing-2 {
    letter-spacing: 2px;
}

.grid {
    display: grid;
}

.grid-1-1 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;  
}

.grid-1-1-1 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;  
}

.grid-1-1-1-1 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
}

.grid-1-1-1-1-1 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
}

.grid-1-1-2-1-1 {
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr; 
}

.grid-1-2 {
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;  
}

.grid-1-3 {
    grid-template-columns: 1fr 3fr;  
}

.grid-2-1 {
    grid-template-columns: 2fr 1fr;  
}

.grid-2-1-1 {
    -ms-grid-columns: 2fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
}

.grid-3-1 {
    -ms-grid-columns: 3fr 1fr;
    grid-template-columns: 3fr 1fr;
}

.v-padding-m {
    padding: 20px 0;
}

.realign {
    transform: rotate(-4deg);
}

.flex {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    width: 100%;
    padding: 0 20px;
    align-items: center;
}

.flex div {
    flex: 1;
    text-align: right;
}

.blur {
    filter: blur(10px);
}

/* Button styles */
.btn {
    border: 1px solid;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    background: #fff;
    border: 1px solid #28A35F;
    color: #28A35F;
}

.btn:not(.btn-primary) {
    transition: background-color 0.2s ease;
}

.btn-primary {
    background:  linear-gradient(to right, #28A35F 0%,#70B42F 50%,#C8C400 100%);
    border: none;
    color: #fff;
}

.btn:hover {
    color: #fff;
    background: #28A35F;
}

.btn.btn-light {
    border-color: #fff;
    color: #fff;
    background: transparent
}

.btn.btn-light:hover {
    background: #fff;
    color: #616663;
}

.btn img {
   transform: scale(1); 
}

.additional-fab {
    position: fixed;
    top: 160px;
    right: 50px;
    z-index: 1;
    background: linear-gradient(100deg, #EB3349 0%,#F45C43 100%);
    width: 48px;
    height: 48px;
    /* margin-bottom: 20px; */
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: box-shadow 0.2s ease-in-out;
}

.additional-fab:hover {
    background: #E10232;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.additional-fab img {
    margin-top: -5px;
}

.no-icon {
    display: inline-block;
    width: 36px;
}

.headline-sidelined {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.headline-sidelined:before, .headline-sidelined:after {
    content: " ";
    position: absolute;
    width: 25%; /* Default */ 
    border-bottom: 1px solid #000;
    top: 35px;
}

.headline-sidelined:before {
    left: 0;
}

.headline-sidelined:after {
    right: 0;
}

/* Header styles */
#sticky-header {
    position: absolute;
    top: -150px;
    transition: top 0.2s;
}

#sticky-header.slide-down {
    top: 0;
}

.header {
    overflow: hidden;
    padding-bottom: 4%;
    position: relative;
}

.header .realign {
    padding-bottom: 200px;
}

.header.header-default {
    z-index: 2;
    position: fixed;
    width: 100%;
}

.header.header-default .realign {
    padding-bottom: 0px;
    transform: rotate(-2deg);
}

.header-nav {
    display: grid;
    padding: 0 80px;
}

.header-nav a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 5px;
    display: inline-block;
    text-align: center;
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.85);
}

.header-nav .logo-background {
    display: flex;
    justify-content: center;
}

.header-nav .logo-background div {
    width: 174px;
    height: 174px;
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    padding: 12px;
    margin-top: -65px;
    transform: scale(0.8);
    transition: width 0.2s, height 0.2s, padding 0.2s, margin-top 0.2s;
}

.header-nav .logo-background div:hover {
    width: 185px;
    height: 185px;
    padding: 18px;
    margin-top: -70px;
}

.header-nav .logo-background > div {
    position: absolute;
}

.header-nav .logo-background a {
    background: #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.header-nav .logo {
    margin-top: 20px;
}

.header .rotated-background {
    background: linear-gradient(160deg, #28A35F 0%,#5CB039 25%, #92BB20 50%,#C8C400 75%, #FFC800 100%);
    transform: rotate(4deg);
    width: calc(100% + 60px);
    margin-left: -30px;
}

.header.header-default .rotated-background {
    padding-top: 2%;
    margin-top: -2%;
    transform: rotate(2deg);
}

.background-img {
    /* https://unsplash.com/photos/WYEZba2aiVg */
    background-image: url('../images/bg_header.png');
    background-position-y: 50%;
    background-size:100%;       
    margin-top: -100px;  
    padding: 100px 0 20px;
    max-height: 700px;
}

.introduction {
    text-align: center;
    letter-spacing: 4px;
}

.introduction .intro-s {
    font-family: 'Abril Fatface', serif;
    font-variant-ligatures: none;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.6);
}

.introduction .intro-l {
    font-family: 'Abril Fatface', serif;
    font-variant-ligatures: none;
    font-size: 100px;
    margin-top: -30px;
    color: #fff;
}

.introduction .intro-sub {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    margin-top: -20px;
    font-weight: 500;
    position: relative;
}

.intro-sub:before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 400px;
    border-bottom: 2px solid rgba(255,255,255,0.8);
}

.intro-sub:after {
    content: "";
    position: absolute;
    right: 0;
    top: 20px;
    width: 400px;
    border-bottom: 2px solid rgba(255,255,255,0.8);
}

.profile-image img {
    border-radius: 50%;
    border: 15px solid #fff;
}

/* Index styles */
.main-content {
    position: relative;
    margin-top: -230px;
    color: #616663;
}

.description-wrapper {
    position: relative;
}

.description {
    position: absolute;
    bottom: 0;
    left: 100px;
    text-align: justify;
    line-height: 160%;
}

.social-links img.social-icon {
    transform: scale(2);
}

/* Section styles */
.section {
    padding: 70px 0 20px 0;;
}

/* Skills section (what i do) */
.skill-item {
    padding: 40px 50px;
    text-align: center;
}

.skill-item:first-child {
    padding: 40px 50px 40px 0;
}

.skill-item:last-child {
    padding: 40px 0 40px 50px;
}

.skill-item img {
    display: block;
    margin: auto;
}

.skill-item h2 {
    padding: 20px 0;
}

/* rotated section */
.section-rotated-background {
    background: #E2ECE7;
    transform: rotate(-1deg);
    width: calc(100% + 60px);
    margin-left: -30px;
}

/* projects section */
.project-item:first-child {
    padding: 50px 50px 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.project-item:last-child {
    padding: 50px 0 50px 50px;
}

.project-item img.laptop {
    z-index: 1;
    position: absolute;
}

.project-item img.laptop-content {
    width: 80%;
    margin-left: 10%;
    position: absolute;
}

p.tags {
    color: #28A35F;
    font-size: 18px;
    padding: 20px 0;
}

.section-rotated-background .wrapper {
    transform: rotate(1deg);
}

/* Blog styles */
.blog .blog-post {
    padding: 0 33px;
}

.blog .blog-post:first-child {
    padding: 0 66px 0 0;
}

.blog .blog-post:last-child {
    padding: 0 0 0 66px;
}

.blog-post img {
    width: 100%;
}

.blog-post h2 {
    padding: 10px 0 30px 0;
}

.blog-post-wrapper {
    position: relative;
}

.blog-post-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    background: linear-gradient(160deg, #28A35F 0%,#5CB039 25%, #92BB20 50%,#C8C400 75%, #FFC800 100%);
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 40px;
    transition: opacity 0.2s ease-in-out;
}

.blog-post-overlay:hover {
    opacity: 0.9;
    cursor: pointer;
}

.blog-post-overlay div {
    position: relative;
    font-family: 'Abril Fatface', serif;
    font-size: 36px;
    letter-spacing: 2px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-post-overlay div:before {
    content: " ";
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transition: width 0.3s, height 0.3s;
    transition-delay: 0.1s;
}

.blog-post-overlay:hover div:before {
    width: 40%;
    height: 60%;
}

.blog-post-overlay div:after {
    content: " ";
    position: absolute;
    width: 0%;
    height: 0%;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: width 0.3s, height 0.3s;
    transition-delay: 0.1s;
}

.blog-post-overlay:hover div:after {
    width: 40%;
    height: 60%;
}

/* Footer styles */
.footer {
    color: #fff;
    overflow: hidden;
    max-height: 510px;
}

.footer .rotated-background {
    background: linear-gradient(110deg, #28A35F 0%,#70B42F 50%,#C8C400 100%);
    transform: rotate(4deg);
    width: calc(100% + 60px);
    margin-left: -30px;
    padding-bottom: 100px;
}

.footer .rotated-background .wrapper {
    transform: rotate(-4deg);
    margin: 4% auto;
    padding-top: 40px;
}

.footer h1, .wrapper-dark h1 {
    color: #fff;
    letter-spacing: 1px;
}

.footer h1 span, .wrapper-dark h1 span {
    background-image: linear-gradient(to right, rgba(52,102,11,0.5) 0%, rgba(52,102,11,0.5) 100%);
}

.subfooter {
    border-top: 1px solid rgba(255,255,255,0.3);
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    color: rgba(255,255,255,0.5);
}

.subfooter a {
    color: rgba(255,255,255,0.5);
    transition: color 0.2s;
}

.subfooter a img {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

.subfooter a:hover {
    color: #fff;
}

.subfooter a:hover img {
    opacity: 1;
}

.social-links-footer img {
    margin-top: -4px;
    margin-right: 8px;
    transform: scale(1.2);
}

.footer-icon {
    width: 1.5em;
    margin-top: -5px;
}

/* flying admin panel */
.admin-panel {
    position: fixed;
    z-index: 3;
    top: 20px;
    right: 50px;
    list-style-type: none;
}

.admin-panel li {
    background: linear-gradient(100deg, #28A35F 0%,#70B42F 35%,#C8C400 100%);
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    transition: box-shadow 0.2s ease-in-out;
}

.admin-panel li:hover {
    background: #28A35F;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.admin-panel button {
    background: none;
    border: none;
    margin-top: -5px;
}

/* Blog page styles */
.blog-page {
    margin-top: 675px;
}

.blogpost-featured {
    position: absolute;
    top: 0;
    z-index: 0;
    max-height: 650px;
    overflow: hidden;
    width: 100%;
    color: #fff;
}

.blogpost-featured .blogpost-featured-rotated {
    position: relative;
    transform: rotate(-3deg);
    overflow: hidden;
    max-height: 600px;
    margin-bottom: 3%;
    width: calc(100% + 60px);
    margin-left: -30px;
}

.blogpost-featured .blogpost-featured-rotated img.hero-shot {
    width: 100%;
    margin-top: -20%;
}

.blogpost-featured .blogpost-featured-gradient {
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.blogpost-featured .blogpost-featured-gradient .wrapper {
    transform: rotate(3deg);
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.blogpost-featured h1 {
    color: #fff;
}

.blogpost-featured h1 span {
    background-image: linear-gradient(to right, rgba(52, 102, 11, 0.5) 0%, rgba(52, 102, 11, 0.5) 100%);
}

.blogpost-featured-content {
    max-width: 800px;
    padding: 50px 0;
}

.blogpost-featured-date {
    font-weight: 500;
    font-size: 24px;
    opacity: 0.8;
    letter-spacing: 1px;
}

.blogpost-featured-date img {
    width: 26px;
    margin-right: 5px;
}

.blogpost-featured-snippet {
    padding: 30px 0;
}

.blogpost-thumbnail {
    margin: 25px 0;
    overflow: hidden;
    max-height: 235px;
}

.blogpost-content {
    max-height: 270px;
    overflow: hidden;
}

.blogpost-content , .blog-post a h2 {
    line-height: 130%;
    transition: color 0.3s;
}

.blogpost-content a:hover h2, .blog-post a:hover h2 {
    color: #28A35F;
}

.blogpost-thumbnail a {
    background: linear-gradient(160deg, #28A35F 0%,#5CB039 25%, #92BB20 50%,#C8C400 75%, #FFC800 100%);
    display: block;
}

.blogpost-thumbnail img {
    height: 100%;
    max-height: 235px;
    transition: transform 0.3s, opacity 0.3s;
}

.blogpost-thumbnail img:hover {
    transform: scale(1.2);
    opacity: 0.3;
}

.blogpost-content-date {
    opacity: 0.3;
    font-size: 18px;
    padding-bottom: 20px;
}

.blogpost-content-date img {
    width: 18px;
}

/* Abotu Me Page */
.wrapper.about-me {
    margin-top: 150px;
}

.about-me .quote {
    font-family: 'Abril Fatface', serif;
    font-size: 48px;
    text-align: center;
    color: #616663;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    letter-spacing: 2px;
}

.section-rotated-background.about-me {
    margin-top: -10px;
    padding: 40px 0;
}

.direct-contact .headline-sidelined {
    color: #ADB3B0;
    padding: 30px 0 10px 0;
}

.direct-contact .headline-sidelined:before, .direct-contact .headline-sidelined:after {
    width: 22%;
    border-color: #C6CCC9;
    top: 45px;
}

.direct-contact div:not(.headline-sidelined) {
    color: #616663;
}

.direct-contact img {
    opacity: 0.6;
    width: 20px;
    margin-top: -1px;
}

.cv-wrapper {
    margin-top: 20px;
    width: 50%;
    border-right: 4px solid #F2F2F2;
}

.cv-item {
    width: 100%;
    padding: 0 20px;
    position: relative;
    border-radius: 4px;
}

.cv-item:not(:first-child) {
    margin-top: -100px;
}

.cv-item:nth-child(even) {
    margin-left: 100%;
    border-right: 4px solid #28A35F;
    padding-left: 50px;
}

.cv-item:nth-child(odd) {
    border-left: 4px solid #28A35F;
    padding-right: 50px;
}

.cv-item .timeline-dot {
    border: 3px solid #28A35F;
    background: #FFF;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
}

.cv-item .timeline-dot img {
    margin-top: -4px;
}

.cv-item:not(:first-child) .timeline-dot {
    margin-top: 25px;
}

.cv-item:nth-child(odd) .timeline-dot:before {
    content:"\A";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #28A35F transparent transparent;
    position: absolute;
    left: -15px;
    top: 6px;
}

.cv-item:nth-child(even) .timeline-dot:after {
    content: "\A";
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #28A35F;
    position: absolute;
    right: -15px;
    top: 6px;
}

.cv-item:nth-child(even) .timeline-dot {
    left: -18px;
}

.cv-item:nth-child(odd) .timeline-dot {
    right: -20px;
}

.cv-item .flex {
    padding: 0;
    margin-bottom: 15px;
}

.cv-item .flex div {
    flex: 0;
}

.cv-item .cv-item-thumbnail {
    margin-right: 20px;
}

.cv-item-img {
    height: 90px;
}

.cv-item div.cv-item-header {
    text-align: left !important;
    flex: 1;
}

.cv-item h2 {
    margin: 0;
    letter-spacing: 1px;
}

.cv-employer, .cv-date {
    text-align: left !important;
}

.cv-employer a {
    color: #28A35F;
    font-size: 16px;
    font-weight: 400;
    transition: color 0.3s;
}  

.cv-employer a:hover {
    color: #616663;
}

.cv-date span {
    color: #ADB3B0;
    font-size: 14px;
}

.section-rotated-background.rotated-gradient {
    background: linear-gradient(110deg, #28A35F 0%,#70B42F 50%,#C8C400 100%);
    transform: rotate(2deg);
}

.section-rotated-background.rotated-gradient .wrapper {
    transform: rotate(-2deg);
    width: 1240px;
    padding: 0 20px;
}

.section-rotated-background .overwidth {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding-bottom: 40px;
}

.tech-stack {
    padding: 0 20px;
}

.tech-stack img {
    transform: scale(0.8);
    margin: auto;
    display: block;
}

.tech-stack h2 {
    color: #FFF;
    display: block;
    text-align: center;
    padding-bottom: 15px;
}

.tech-stack p {
    color: #FFF;
}

/* Testimonials */
.testimonial:not(:last-child) {
    margin-bottom: 100px;
}

.testimonial-content {
    display: flex;
    border-right: 4px solid #28A35F;
    padding-right: 20px;
    border-radius: 4px;
    position: relative;
}

.testimonial-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.testimonial-quote:before {
    content: "\201E";
    font-family: 'Abril Fatface', serif;
    color: #E3E6E4;
    font-size: 200px;
    position: absolute;
    top: -70px;
    left: 210px;
    z-index: -1;
}

.testimonial-quote p {
    padding-top: 10px;
}

.testimonial-author {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #28A35F;
    font-weight: 500;
}

.testimonial-author:before {
    content: "\2014";
    margin-right: 8px;
}

.testimonial-author-details {
    color: #ADB3B0;
    font-size: 18px;
    letter-spacing: 2px;
}

.grid.grid-1-3.testimonial .testimonial-quote:before {
    left: 20px;
}

.grid.grid-1-3.testimonial .testimonial-content {
    border-left: 4px solid #28A35F;
    border-right: none;
    margin-left: -50px;
    padding-left: 50px;
}

.grid.grid-1-3.testimonial .testimonial-image {
    margin-left: 40px;
    margin-right: 0;
}

.testimonial-link {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Responsive Styles */
@media ( max-width: 1250px ) {
    /* Overrides */
    * {font-size: 17px;}
    .desktop {display: none;}
    .tablet {display: block;}
    .offset-left-xl {margin-left: 60px;}
    .offset-right-m {margin-right: 20px}
    .btn {letter-spacing: 1px; padding: 0 20px;}
    .offset-mobile-none {margin-right: 0; margin-left: 0; margin-top: 0; margin-bottom: 0}
    .mobile.flex {display: flex;}

    .mobile.flex div {
        text-align: center;
        transform: scale(2);
        padding: 30px 0;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    .wrapper {
        width: 100%;
        padding: 0 50px;
    }

    .header .realign {
        padding-bottom: 100px;
    }

    .header-nav a {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .header-nav .logo-background div {
        width: 140px;
        height: 140px;
        padding: 10px;
        margin-top: -45px;
    }

    .header-nav .logo-background a {
        width: 120px;
        height: 120px;
    }

    .header-nav .logo {
        margin-top: -5px;
        transform: scale(0.8);
    }

    .header-nav .logo-background div:hover {
        width: 150px;
        height: 150px;
        padding: 15px;
        margin-top: -50px;
      }

    .header .wrapper {
        padding: 0 80px;
    }

    .header .header-nav {
        padding: 0;
    }

    .introduction {
        margin-top: 30px;
    }

    .introduction .intro-s {
        font-size: 22px;
        letter-spacing: 1px;
    }

    .introduction .intro-l {
        font-size: 55px;
        margin-top: -10px;
        letter-spacing: 2px;
    }

    .introduction .intro-sub {
        font-size: 16px;
        margin: 0;
        letter-spacing: 2px;
    }

    .intro-sub:before, .intro-sub:after {
        margin-top: -8px;
        border-width: 1px;
        width: calc(50% - 130px);
    }

    .profile-image {
        text-align: center
    }

    .profile-image img {
        width: 100%;
        min-width: 200px;
        border-width: 10px;
    }

    .wrapper.main-content {
        margin-top: -130px;
    }

    .description-wrapper {
        padding-top: 130px;
    }

    .wrapper.main-content .description {
        position: initial;
    }

    .grid.grid-1-2.social-links {
        display: block;
    }

    .social-links {
        text-align: center;
    }

    .skill-item {
        padding: 0 !important;
        margin: 40px 10px;
    }

    .section-rotated-background h1 {
        margin-left: 25px;
    }

    .project-item img {
        width: 100%;
    }

    .footer {
        max-height: 430px;
    }

    /* Blog Page */
    .blogpost-featured-gradient .wrapper {
        padding: 0 100px;
    }
}

@media ( max-width: 1000px ) {
    .block-m {
        display: block;
    }

    .hide-m {
        display: none;
    }

    .wrapper.main-content .description {
        margin-left: -50%;
        margin-top: 15%;
    }

    .skill-section .grid {
        display: block;
        padding: 0 200px;
    }

    .latest-blog-posts .grid {
        display: block;
    }

    .blog .blog-post {
        position: relative;
        margin: 40px 0;
        padding: 0 !important;
    }

    .blog .blog-post h2 {
        position: absolute;
        top: -30px;
        left: 50%;
    }

    .blog .blog-post p {
        position: absolute;
        top: 50px;
        left: 50%;
    }

    .blog-post .blog-post-wrapper {
        width: calc(50% - 20px);
        margin-right: 30px;
    }

    .footer {
        max-height: 680px;
    }

    .footer .grid {
        display: flex;
        flex-wrap: wrap;
    }

    .footer .grid .grid-item {
        flex-basis: 50%;
    }

    .footer .grid .grid-item:first-child {
        flex-basis: 100%;
    }

    .footer .grid-1-1 div {
        width: 50%;
    }

    /* Blog */
    .blog-page {
        margin-top: 60%;
    }
}

@media ( max-width: 750px ) {
    .desktop {display: none;}
    .tablet {display: none;}
    .mobile {display: block;}
    .grid {display: block;}
    .grid.grid-mobile {display: grid;}
    .header.header-default {display: none}
    h1 {font-size: 26px;}

    .btn:hover {
        color: #28A35F;
        background: #FFF;
    }

    .header-nav {
        display: none;
    }

    .introduction .intro-l {
        font-size: 40px;
    }

    .introduction .intro-s {
      font-size: 22px;  
    }

    .introduction .intro-sub {
        font-size: 14px;
        letter-spacing: 1px;
    }

    .intro-sub:before, .intro-sub:after {
        width: calc(50% - 100px);
        margin-top: -10px;
    }

    .description-wrapper {
        padding-top: 0;
    }

    .description-wrapper div.flex.mobile {
        padding: 0;
    }

    .wrapper {
        padding: 0 25px;
    }

    .wrapper.main-content {
        margin-top: -110px;
    }

    .profile-image img {
        width: 30%;
        border-width: 5px;
    }

    .wrapper.main-content .description {
        margin: 15px 0;
    }

    .header .wrapper {
        padding: 0 60px;
    }

    .skill-item, .skill-item:first-child, .skill-item:last-child {
        padding: 40px 0 40px 0;
    }

    .project-item, .project-item:first-child, .project-item:last-child {
        padding: 50px 25px 0 25px;
    }

    .project-item img.laptop {
        z-index: 1;
        position: initial;
    }
    
    .project-item img.laptop-content {
        width: 80%;
        margin-left: 10%;
        position: absolute;
    }

    .project-item img {
        width: 100%;
    }

    .project-item button {
        margin: 30px auto;
        display: block;
    }

    .section-rotated-background .section {
        padding-top: 40px;
    }

    .skill-section .grid {
        padding: 0;
    }

    .blog-post .blog-post-wrapper {
        width: 100%;
    }

    .blog .blog-post h2 {
        position: initial;
    }

    .blog .blog-post, .blog .blog-post:first-child, .blog .blog-post:last-child {
        padding: 0;
        position: relative;
        margin: 50px 0;
    }

    .blog-post-overlay, .blog-post-overlay:hover {
        display: none;
    }

    .blog-post > a {
        display: block;
        position: absolute;
        bottom: 0;
        padding: 25px;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0) 100%);
    }

    .blog-post > a div {
        position: absolute;
        bottom: 0;
        margin-right: 25px;
    }

    .blog-post > a span {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 13px;
        color: #616663;
        padding: 5px 0;
    }

    .blog-post > a h2 {
        color: #fff;
        padding: 0 0 30px 0;
        margin: 0;
    }

    .blog-post p {
        display: none;
    }

    .blog-post-wrapper {
        position: initial;
    }

    .footer .grid {
        display: block;
    }

    .footer .grid-1-1 div {
        width: 100%;
    }

    /* Mobile  Menu */
    .bottom-menu {
        background:  linear-gradient(to right, #28A35F 0%,#70B42F 50%,#C8C400 100%);
        position: fixed;
        bottom: -10px;
        width: calc(100% + 10px);
        margin-left: -5px;
        padding: 10px;
        transform: rotate(-2deg);
        box-shadow: 0 -3px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .bottom-menu .realign {
        transform: rotate(2deg);
    }

    .bottom-menu--item, .bottom-menu--item a {
        text-align: center;
        color: #fff;
        font-size: 11px;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .bottom-menu--item img {
        width: 2.2em;
        display: block;
        margin: auto;
    }

    .bottom-menu--item.logo {
        position: relative;
    }

    .bottom-menu--item.logo .logo-background {
        background: rgba(255,255,255,0.5);
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 50%;
        padding: 8px;
    }

    .bottom-menu--item.logo .logo-background div {
        background: #fff;
        border-radius: 50%;
        padding: 10px;
    }

    .bottom-menu--item.logo .logo-background img {
        width: 5em;
        margin-top: -4px;
        margin-bottom: 4px;
    }

    .footer {
        max-height: none;
    }

    .footer .rotated-background {
        width: calc(100% + 90px);
        margin-left: -45px;
        padding-bottom: 10px;
    }

    .footer .rotated-background .wrapper {
        padding: 40px 70px;
    }

    .footer div.disclaimer div, .footer div.socialmedia div {
        line-height: 250%;
    }

    .footer-icon {
        margin-top: -3px;
    }

    .no-icon {
        width: 30px;
    }

    /* Blog */
    .blog-page.blog-main-page {
        margin-top: 480px;
    }

    .blogpost-featured {
        margin-top: -10%;
    }
    
    .blogpost-featured-gradient .wrapper {
        padding: 0 50px;
    }

    .blogpost-featured-date {
        font-size: 18px;
    }

    .blogpost-featured-date img {
        width: 16px;
    }

    .blogpost-featured .blogpost-featured-gradient .wrapper {
        align-items: flex-start;
        padding: 50px;
    }

    .blogpost-thumbnail img {
        width: 100%;
        height: auto;
        max-height: none;
    }

    .blogpost-content {
        margin: 0;
    }

    .blog-page .grid.grid-2-1.offset-right-m {
        position: relative;
    }

    .blogpost-content:not(.offset-left-m) {
        margin-top: 235px;
    }

    .blog-page .grid.grid-2-1.offset-right-m .blogpost-thumbnail {
        position: absolute;
        top: 0;
    }

    .blog-main-page.blogpost-featured .blogpost-featured-rotated {
        height: 500px;
    }

    .blog-main-page .blogpost-featured-rotated img.hero-shot {
        width: auto;
        height: 650px;
    }

    .blog-main-page .blogpost-featured-content {
        padding: 0;
    }
}

@media ( max-width: 350px ) {
    .grid.grid-mobile.grid-1-1-2-1-1 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .bottom-menu--item.logo .logo-background {
        display: none;
    }

    .mobile-xs {
        display: block;
    }

    .bottom-menu .mobile-xs a {
        vertical-align: top;
    }

    /* Blog */
    .blogpost-content:not(.offset-left-m) {
        margin-top: 200px;
    }

    .blog-main-page .blogpost-featured-snippet {
        display: none;
    }

    .blogpost-featured-content button {
        margin: 40px 0;
    }
}