@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="additional-fab" title="Neuen Blogeintrag verfassen">
        <div>
            <a href='@Url.Action("createpost", "blog")' title="Neuen Post verfassen">
                <img src="~/images/icon_edit.png" alt="Neuen Beitrag schreiben">
            </a>
        </div>
    </div>
}