@model WebApp.Models.CreatePostViewModel

@await Html.PartialAsync("_header")

<div class="wrapper" style="margin-top: 140px">

    <h1><span>Neuen Blog Eintrag verfassen</span></h1>

    <form asp-controller="blog" asp-action="savepost" method="POST">
        @Html.TextBoxFor(p => p.Title)

        @Html.TextBoxFor(p => p.Snippet)

        @Html.TextBoxFor(p => p.Content)

        <button type="submit" class="btn btn-primary">
            veröffentlichen
        </button>
    </form>
</div>