@model WebApp.Models.CaseStudyViewModel

@using WebApp.Helper

<link href="https://fonts.googleapis.com/css?family=Anton|Muli:400,700" rel="stylesheet">

<!-- FÜR BILDNACHWEIS: <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->

<div class="transparent-header" id="transparent-header">
    @await Html.PartialAsync("_header", Model)
</div>

<div class="casestudy">
    <div class="casestudy-rotated">
        <img src="~/images/portfolio/look4keys/desktop.png" alt="" class="hero-shot blur realign">
        <div class="casestudy-overlay">
            <div class="wrapper">
                <div class="casestudy-title">look4keys</div>
                <div class="casestudy-subtitle">Komplettes Redesign einer Preisvergleichsseite für Spiele-Keys</div>
                <img src="~/images/portfolio/look4keys/preview.png" class="caststudy-preview">
                <div class="casestudy-scrollformore">
                    <img src="~/images/heroicon-arrow-down.svg" alt="scroll for more">
                </div>
            </div>  
        </div>
    </div>
</div>

<div style="margin-top: calc(100vh + 120px);" class="wrapper">
    <div class="grid grid-3-1">
        <div class="offset-right-l justify">
            <p>Im stetig wachsenden Markt der digitalen Vertiebsplattformen haben sich in der Vergangenheit zahlreiche sogenannte Keyshops etabliert, welche digitale Produkte, oftmals Games, zu günstigeren Konditionen anbieten, als der reguläre Handel. Dies gelingt unter anderem dadurch, dass lediglich der Freischaltschlüssel eines Produktes verkauft wird, jedoch keine Verpackung oder ähnliches Material. Mit diesem Schlüssel kann das Produkt anschließend bei verschiedenen Plattformen aktiviert und genutzt werden.</p>
            <p class="offset-top-s">Die Seite look4keys bietet ihren Nutzern die Möglichkeit, sich schnell und unkompliziert eine Preisübersicht bei diesen Keyshops zu verschaffen. 2018 übernahm ich die Verantwortung für das komplett runderneuerte und überarbeitete Design der Seite. Besonderes Augenmerk sollte auf der Seriosität und einem simplen Bedienkonzept der Seite liegen, um den Kern der Seite mehr in den Fokus zu rücken. Dem Nutzer sollte es so einfach wie möglich gemacht werden, den günstigsten Preis für sein gewünschtes Produkt zu finden und diesen bei Bedarf mit anderen Anbietern zu vergleichen, um anschließend eine Kaufentscheidung von der look4keys Webseite aus zu treffen.</p>


        </div>
        <div class="flex flex-col">
            <div class="casestudy-projectinfo projectinfo-year">
                <img src="~/images/heroicon-calendar.svg" alt="calendar icon">
                <span class="val">2018</span>
                <span>Projektjahr</span>
            </div>
            <div class="casestudy-projectinfo projectinfo-coffee">
                <img src="~/images/heroicon-coffee.svg" alt="coffee icon">
                <span class="val">27</span>
                <span style="max-width: 150px;">Verbrauchte Tassen Kaffee</span>
            </div>
            <div class="casestudy-projectinfo projectinfo-screens">
                <img src="~/images/heroicon-image_black.svg" alt="screen icon">
                <span class="val">24</span>
                <span>erstellte Screens</span>
            </div>
            <div>
                <span class="tag">Design</span>
                <span class="tag">UI</span>
                <span class="tag">Web</span>
                <span class="tag">Responsive</span>
            </div>
        </div>
    </div>
</div>

<div class="section-light rotated-2deg-neg relative z1">
    <div class="realign-2deg-neg">
        <div class="wrapper offset-top-m">
            <div class="hero-headline">Analyse</div>

            <div class="grid grid-1-1 offset-top-m">
                <div class="justify offset-right-m">
                    Die ursprüngliche Seite wurde seit mehr als 8 Jahren nicht mehr maßgeblich überarbeitet, weswegen diese sowohl technisch, als auch optisch nicht mehr dem Stand der Zeit entsprach. Viele der damaligen Designentscheidungen mussten im Jahr 2018 neu hinterfragt und anders gedacht werden, um dem Nutzer so viel Arbeit wie möglich abzunehmen, wenn es darum geht, den besten Preis für sein gewünschtes Produkt zu finden. Hier gab es an vielen kleineren und größeren Stellen Verbesserungspotenzial, etwa wenn es darum ging dem Seitenbesucher bereits eine clever vorsortierte Auswahl an Spielen anzuzeigen, und bei diesen den jeweils günstigsten Preis entsprechend in Szene zu setzen.
                </div>
                <div class="quote offset-left-m">
                    „Das Design sollte dynamisch und jung, aber auch seriös und zuverlässig wirken.“
                </div>
            </div>
            <div class="grid grid-1-1 offset-bottom-l offset-top-m">
                <div class="quote offset-right-m">
                    „Der Nutzer sollte nie hinterfragen müssen, dass der angezeigte Preis der Beste ist, den er finden kann.“
                </div>
                <div class="justify offset-left-m">
                    Das Hauptziel des Redesigns war in erster Linie die signifikante Vergrößerung der Nutzerbasis. Um dieses Ziel zu erreichen benötigt die Seite ein vertrauenswürdiges und seriöses Layout, was jedoch gleichzeitig eine gewisse Jugendlichkeit vermittelt. Die wichtigsten Aspekte der Seite sind die vorhandenen Spiele, sowie deren Preise bei den verschiedenen Keyshops. Die Kunden von look4keys sollen schnell und problemlos das Produkt ihrer Wahl finden können, ohne dabei durch irrelevante Informationen abgelenkt zu werden. Anschließend soll auf den günstigsten verfügbaren Preis aufmerksam gemacht werden, jedoch mit der Option, dennoch bei einem anderen Shop einzukaufen, falls der Nutzer dies persönlich präferiert.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rotated-2deg l4k-hero-branding relative z0">
    <div class="overlay">
        <div class="realign-2deg">
            <div class="hero-headline">Branding</div>
        </div>
    </div>
</div>
<div class="wrapper">
    <h1>
        <span>Kreation des Firmenimages</span>
    </h1>
    <div class="grid grid-2-1 justify offset-top-s offset-right-m">
        <div class="offset-right-m">
            <p>
                Look4Keys möchte sich am noch jungen Markt der Spielekeyverkäufer als Hauptanlaufstelle für Kunden positionieren, indem es die Möglichkeit bietet, schnell und ohne Umwege den günstigsten Preis für ein gewünschtes Spiel aus verschiedenen Quellen zusammenzutragen. 
            </p>
            <p>
                In Abstimmung mit dem Unternehmen wurde ein Konzept erarbeitet, was die angestrebten Werte und Eigenschaften des Unternehmens nach außen hin präsentieren kann. Natürlich soll das Design einen lockeren und durchaus auch flippigen Eindruck erwecken, da die Hauptzielgruppe für Spielekeys jung und internetaffin ist. Gleichzeitig steht allerdings auch Vertrauenswürdigkeit und Seriosität im Vordergrund, besonders da manche Keyshops in der Vergangenheit mit negativen Schlagzeilen aufgefallen sind. Um diese Kompetenzen zu unterstreichen und sich somit langfristig am Markt erfolgreich zu etablieren, wurden nahezu alle Aspekte der bestehenden Website überarbeitet und neu gedacht.
            </p>
        </div>
        <div class="offset-left-m project-goals">
            <div class="headline-sidelined">Ziele</div>
            <div class="project-goals__wrapper">
                <div class="flex">
                    <div class="project-goal-number">1</div>
                    <div class="project-goal">Die Nutzerbasis soll deutlich größer werden</div>
                </div>
                <div class="flex">
                    <div class="project-goal-number">2</div>
                    <div class="project-goal">Die Spiele sollen möglichst leicht zu finden sein</div>
                </div>
                <div class="flex">
                    <div class="project-goal-number">3</div>
                    <div class="project-goal">Der günstigste Preis muss ins Auge stechen</div>
                </div>
                <div class="flex">
                    <div class="project-goal-number">4</div>
                    <div class="project-goal">Andere Shops sollen dennoch erreichbar bleiben</div>
                </div>
            </div>
        </div>
    </div>

    <div class="l4k__new-logo offset-top-m">
        <h1>
            <span>Das neue Logo</span>
        </h1>
        <div class="grid grid-1-1 offset-top-s">
            <div class="center">
                <img src="~/images/portfolio/look4keys/l4k_logo-old.png" alt="Altes Logo">
            </div>
            <div class="center">
                <img src="~/images/portfolio/look4keys/l4k_logo-new.png" alt="Neues Logo">
            </div>
        </div>
        <div class="center img-caption offset-top-s">
            Das alte Logo (links) im Vergleich mit dem neuen (rechts)
        </div>
    </div>
</div>

<div class="l4k__new-logo--description offset-top-m">
    <img src="~/images/portfolio/look4keys/concept_logo.jpg" alt="Logo Konzept Zeichnungen">
    <div class="gradient-overlay">
        <div class="grid grid-1-1 wrapper">
            <div></div>
            <div>
                <p>Bei der Neugestaltung des Logos war es besonders wichtig darauf zu achten, dass es auch dann noch gut erkennbar ist, wenn es sehr klein dargestellt wird, etwa als Favicon im Browser. Zudem sollte ein erkennbarer Bezug zum alten Logo auch weiterhin erkennbar bleiben.</p>
                <p>Das alte Logo war sehr verspielt und hatte zahlreiche Details, wie etwa die Figuren bekannter Games, die gemeinsam den Schlüsselbart darstellen. Dies und die vergleichsweise kleine Schrift im Logo führe dazu, dass es nur dann gut erkennbar ist, wenn es in einer bestimmten Größe angezeigt wird, was allerdings nicht immer der Fall ist.</p>
                <p>Für das neue Logo wurden diese Details weitestgehend entfernt. Auch die Schrift wurde angepasst und vergrößert, sodass diese auch auf kleineren Versionen des Logos noch lesbar ist. Für das Favicon wurde eine spezielle quadratische Version des Logos ohne Schlüsselbart angefertigt, welche die Details nochmals deutlich reduziert und so selbst als Icon im Browsertab noch gut erkennbar ist. <br> Die grundlegende Form eines Schlüssels wurde im neuen Logo übernommen, ebenso wie das stilisierte Auge als Schlüsselreite. Dadurch ist weiterhin ein klarer Bezug zur alten Version des Logos vorhanden, jedoch ist das Logo nun simpel, modern und skalierbar.</p>
            </div>
        </div>
    </div>
</div>

<div class="wrapper offset-top-m">
    <div class="center">
        <div>
            <img src="~/images/portfolio/look4keys/l4k_logo-new.png">
        </div>
        <div class="offset-top-s img-caption">
            <img src="~/images/portfolio/look4keys/logo_lines.png">
            <img src="~/images/portfolio/look4keys/l4k_logo_favicon.png">
        </div>
        <div class="l4k__new-logo offset-top-s">
            <div class="img-caption offset-top-m">
                Voll- und Iconversion des neuen Logos
            </div>
        </div>
    </div>
</div>

<div class="wrapper offset-top-l offset-bottom-l">
    <h1>
        <span>
            Farben & Typografie
        </span>
    </h1>

    <div class="center quote-large">
        <div class="quotation-mark">
            “
        </div>
        <div class="quote">
            „ I found I could say things with color and shapes that I couldn't say any other way “
        </div>
        <div class="quote-author">
            GEORGIA O'KEEFFE
        </div>
    </div>

    <div class="grid grid-4-1 offset-top-l">
        <div class="justify offset-right-l">
            <p>Die Farbe grün war bereits von Beginn an die Markenfarbe von look4keys und sollte somit auch im neuen Design eine große Rolle spielen. Daher wurde als primäre Farbe ein helles grün gewählt, welches durch einen moderaten Blauanteil zwar kräftig wirkt, dabei aber nicht in Richtung der Neon-Farben geht. Der Grundfarbe wurden für die Gestaltung verschiedener Elemente noch je vier dunkle und vier helle Zwischentöne zugeordnet, zudem wurde als neutrale Farbe ein grau gewählt, welches ebenfalls in insgesamt neun Farbtönen verwendet wurde. Zudem enthält der neutrale Grauton einen kleinen und subtilen Anteil des Grüntons der Hauptfarbe.</p>
            <p>Grün wird oftmals als sehr positive Farbe wahrgenommen, da auch im Alltag so meist positive Elemente gekennzeichnet werden. So werden nicht selten rabattierte Preise grün dargestellt, und ihre selbstverständlich wesentlich höheren Vorgängerpreise werden rot markiert und durchgestrichen. Zudem findet sich grün auch in der Games Branche an vielen Stellen wieder, etwa im gesamten Farbkonzept der Xbox Konsolen von Microsoft. Sucht man in einem Elektronikmarkt nach der Abteilung für Spiele, fallen einm besonders die markanten grünen DVD-Hüllen der Xbox Spiele ins Auge. Ähnliches sieht man auch bei Sony, die ihrer PlayStation Konsole ein blaues Image gegeben haben, denn auch hier sind die Spielehüllen seit der zweiten Konsolenversion blau gefärbt. Selbst in der analogen Welt werden nicht wenige Spiele und Sportarten traditionell auf einem grünen Rasen ausgeführt.</p>
            <p>Somit besteht die Hauptfarbe der look4keys Seite aus einer Kombination der Farben der bekanntesten Spielekonsolen und strahlt zudem noch ein positives und sicheres Image aus, um dem Nutzer das Gefühl zu geben, dass er auf der Seite garantiert den günstigsten Preis finden wird</p>
        </div>
        <div>
            <img src="~/images/portfolio/look4keys/l4k_color-palette.png">
        </div>
    </div>
</div>

<div class="section-rotated-background" style="padding-bottom: 80px;">
    <div class="wrapper realign" style="padding-top: 80px">
        <div class="grid grid-1-1">
            <div>
                <span class="font-preview_anton anton">Anton</span>
                <span class="font-preview_muli muli">Muli</span>
            </div>
            <div class="justify offset-bottom-l">
                <p>Das Schriftbild der Seite soll modern und sauber wirken, gleichzeitig aber sehr ausdrucksstark sein. Daher fiel die Entscheidung auf eine Kombination von zwei Schriftarten, welche jeweils individuelle Vor- und Nachteile haben, aber gemeinsam ihre guten Seiten bündeln können. Da zudem das Kernelement einer Vergleichsseite der angezeigte Preis ist, muss die Hauptschriftart</p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>
        </div>

        <table>
            <tr>
                <th>Type of Text</th>
                <th>Font / Typeface</th>
                <th>Font weight</th>
                <th class="center">Font size</th>
                <th class="center">Lineheight</th>
                <th class="center">Letterspacing</th>
            </tr>
            <tr class="anton l4k-h1">
                <td>Headline 1</td>
                <td>Anton</td>
                <td>&nbsp;</td>
                <td class="center">36px</td>
                <td class="center">140%</td>
                <td class="center">3px</td>
            </tr>
            <tr class="anton l4k-h2">
                <td>Headline 2</td>
                <td>Anton</td>
                <td>&nbsp;</td>
                <td class="center">24px</td>
                <td class="center">130%</td>
                <td class="center">2px</td>
            </tr>
            <tr class="muli l4k-h3">
                <td>Subheadline</td>
                <td>Muli</td>
                <td>Bold</td>
                <td class="center">20px</td>
                <td class="center">130%</td>
                <td class="center">1px</td>
            </tr>
            <tr class="muli l4k-p">
                <td>Plain Text</td>
                <td>Muli</td>
                <td>Regular</td>
                <td class="center">20px</td>
                <td class="center">120%</td>
                <td class="center">0px</td>
            </tr>
            <tr class="muli l4k-meta">
                <td>Metainformation</td>
                <td>Muli</td>
                <td>Regular</td>
                <td class="center">20px</td>
                <td class="center">120%</td>
                <td class="center">0px</td>
            </tr>            
        </table>
    </div>
</div>

<div>
    Design
</div>