@model WebApp.Models.AboutMeViewModel

@await Html.PartialAsync("_header", Model)

<div class="wrapper about-me">
  <div class="grid grid-1-2">
    <div>
      <img src="~/images/profile_colored.png" alt="Profilbild">
    </div>
    <div class="quote">
      Herausragende Designs fallen ganz besonders dann auf, wenn sie fehlen.
    </div>
  </div>
</div>

<div class="section-rotated-background about-me">
  <div class="wrapper">
    <h1><span>Was mich auszeichnet</span></h1>
    <div class="grid grid-2-1">
      <div class="offset-right-m">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitationullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velitesse cillum dolore eu fugiat nulla pariatur. Excepteur sintoccaecat cupidatat non proident, sunt in culpa qui officiadeserunt mollit anim id est laborum.
      </div>
      <div class="offset-left-m direct-contact">
        <button class="btn btn-primary">Projektanfrage senden</button>
        <div class="headline-sidelined">direkter Draht</div>
        <div><img src="~/images/heroicon-call_b.svg" alt="Call Icon"> 01525 5911161</div>
        <div><img src="~/images/heroicon-at-symbol_b.svg" alt="Mail Icon"> matthe.seifert@gmail.com</div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper offset-top-m">
  <h1><span>Karriere & Ausbildung</span></h1>

  <div class="cv-wrapper">
    <div class="cv-item">
      <div class="timeline-dot">
        <img src="~/images/heroicon-briefcase_g.svg">
      </div>
      <div class="flex">
        <div>
          <img src="~/images/favicon.png" class="cv-item-img">
        </div>
        <div class="cv-item-header">
          <h2>Softwareentwicklung & UI Design</h2>
          <div class="cv-employer">
            <a href="#">Nebenberuflich Selbstständig</a></div>
          <div class="cv-date">seit August 2018</div>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitationullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="cv-item">
      <div class="timeline-dot">
        <img src="~/images/heroicon-briefcase_g.svg">
      </div>
      <div class="flex">
        <div>
          <img src="~/images/cv-forum.png" class="cv-item-img">
        </div>
        <div class="cv-item-header">
          <h2>Softwareentwicklung Frontend</h2>
          <div class="cv-employer">
            <a href="#">FORUM Gesellschaft für Informationssicherheit mbH</a></div>
          <div class="cv-date">seit Mai 2017</div>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitationullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="cv-item">
      <div class="timeline-dot">
        <img src="~/images/heroicon-briefcase_g.svg">
      </div>
      <div class="flex">
        <div>
          <img src="~/images/cv-develappers.png" class="cv-item-img">
        </div>
        <div class="cv-item-header">
          <h2>Werkstudent Softwareentwicklung</h2>
          <div class="cv-employer">
            <a href="#">Develappers GmbH</a></div>
          <div class="cv-date">Februar 2014 - April 2017</div>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitationullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
</div>