@model WebApp.Models.AboutMeViewModel

@await Html.PartialAsync("_header", Model)

<div class="wrapper about-me">
  <div class="grid grid-1-2">
    <div>
      <img src="~/images/profile_colored.png" alt="Profilbild">
    </div>
    <div class="quote">
      Herausragende Designs fallen ganz besonders dann auf, wenn sie fehlen.
    </div>
  </div>
</div>

<div class="section-rotated-background about-me">
  <div class="wrapper">
    <h1><span>Was mich auszeichnet</span></h1>
    <div class="grid grid-2-1">
      <div class="offset-right-m">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitationullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velitesse cillum dolore eu fugiat nulla pariatur. Excepteur sintoccaecat cupidatat non proident, sunt in culpa qui officiadeserunt mollit anim id est laborum.
      </div>
      <div class="offset-left-m direct-contact">
        <button class="btn btn-primary">Projektanfrage senden</button>
        <div class="headline-sidelined">direkter Draht</div>
        <div><img src="~/images/heroicon-call_b.svg" alt="Call Icon"> 01525 5911161</div>
        <div><img src="~/images/heroicon-at-symbol_b.svg" alt="Mail Icon"> matthe.seifert@gmail.com</div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper offset-top-m">
  <h1><span>Karriere & Ausbildung</span></h1>

  <div class="cv-wrapper">
    @foreach(var cv in Model.CvEntries)
    {
      <div class="cv-item">
        <div class="timeline-dot">
          <img src="~/images/heroicon-briefcase_g.svg">
        </div>
        <div class="flex">
          <div>
            <img src="~/images/favicon.png" class="cv-item-img">
          </div>
          <div class="cv-item-header">
            <h2>Softwareentwicklung & UI Design</h2>
            <div class="cv-employer">
              <a href="#">Nebenberuflich Selbstständig</a></div>
            <div class="cv-date">seit August 2018</div>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitationullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    }
  </div>
</div>

<div class="section-rotated-background rotated-gradient offset-top-l">
  <div class="wrapper wrapper-dark offset-top-m">
    <h1>
      <span>Womit ich arbeite</span></h1>
      <div class="grid grid-1-1-1-1 overwidth">
        <div class="tech-stack">
          <img src="~/images/skill_csharp.svg" alt="C#">
          <h2>C#, .NET, .NET Core</h2>
          <p>
            Web-API's, ASP.NET Websites oder brandneue Techniken wie Blazor. Mit Microsofts mächtigem Framework lassen sich stabile, zuverlässige und zukunftsorientierte Web Anwendungen und Seiten umsetzen. Mit .NET Core auch ganz ohne Windows Server!
          </p>
        </div>
        <div class="tech-stack">
          <img src="~/images/skill_javascript.svg" alt="JavaScript">
          <h2>JavaScript, TypeScript</h2>
          <p>
            Frameworks bzw. Libraries wie React, Angular oder Vue verhelfen JavaScript zur Zeit einen beachtlichen Aufschwung. Zudem ist die eigentlich auf dem CLient ausgeführte Sprache mit Node.js auch auf dem Server lauffähig.
          </p>
        </div>
        <div class="tech-stack">
          <img src="~/images/skill_html.svg" alt="HTML">
          <h2>HTML 5</h2>
          <p>
            Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="tech-stack">
          <img src="~/images/skill_css.svg" alt="CSS">
          <h2>CSS, Less, SASS, Stylus</h2>
          <p>
            CSS ist ein mächtiges Tool, um aus einer Webseite ein optisches Highlight zu machen. In modernen Browsern können faszinierende Effekte erreicht werden, und CSS-Präprozessoren machen das Erstellen effizient und gut wartbar.
          </p>
        </div>
      </div>
  </div>
</div>

<div class="wrapper">
  <h1>
    <span>Letzte Sektion</span>
  </h1>
</div>