<!-- Lyb - Buchverwaltungssoftware -->

@using WebApp.Helper

<div class="portfolio-featured-item">
    <div class="realign">
        <img src="~/images/portfolio/lyb/desktop_main.png" alt='@Utils.GetUiString("alt.background.blurred")'>
        <div class="dark-overlay">
            <div class="wrapper">
                <div class="grid grid-1-1">
                    <div>
                        left
                    </div>
                    <div>
                        right
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>