<!-- Lyb - Buchverwaltungssoftware -->

@using WebApp.Helper

<div class="portfolio-featured">
    <div class="portfolio-featured-rotated">
        <img src="~/images/portfolio/lyb/desktop_main.png" alt="" class="hero-shot blur realign">
        <div class="portfolio-featured-overlay">
            <div class="wrapper">
                <div class="portfolio-featured-content grid grid-1-1">
                    <div>
                        <img src="~/images/portfolio/lyb/preview.png">
                    </div>
                    <div>
                        <h2>Lyb - Die Buchverwaltungssoftware</h2>
                        <p class="offset-bottom-m">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitationullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velitesse cillum dolore eu fugiat nulla pariatur. Excepteur sintoccaecat cupidatat non proident, sunt in culpa qui officiadeserunt mollit anim id est laborum.
                        </p>
                        <button class="btn btn-light" style="display: block; margin: auto">
                            Mehr erfahren
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
