<!-- Lyb - Buchverwaltungssoftware -->

@using WebApp.Helper

<div class="portfolio-featured">
    <div class="portfolio-featured-rotated">
        <img src="~/images/portfolio/look4keys/desktop.png" alt="" class="hero-shot blur realign">
        <div class="portfolio-featured-overlay">
            <div class="wrapper">
                <div class="portfolio-featured-content grid grid-1-1">
                    <div class="portfolio-featured-image">
                        <img src="~/images/portfolio/look4keys/preview.png">
                    </div>
                    <div class="portfolio-featured-snippet">
                        <div>vorgestellte Case Study</div>
                        <h2>look4keys</h2>
                        <p class="offset-bottom-m">
                            Im stetig wachsenden Markt der digitalen Vertiebsplattformen haben sich in der Vergangenheit zahlreiche sogenannte Keyshops etabliert, welche digitale Produkte, oftmals Games, zu günstigeren Konditionen anbieten, als der reguläre Handel. Dies gelingt unter anderem dadurch, dass lediglich der Freischaltschlüssel eines Produktes verkauft wird, jedoch keine Verpackung oder ähnliches Material. Mit diesem Schlüssel kann das Produkt anschließend bei verschiedenen Plattformen aktiviert und genutzt werden.\n\nDie Seite look4keys bietet ihren Nutzern die Möglichkeit, sich schnell und unkompliziert eine Preisübersicht bei diesen Keyshops zu verschaffen. 2018 übernahm ich die Verantwortung für das komplett runderneuerte und überarbeitete Design der Seite. Besonderes Augenmerk sollte auf der Seriosität und einem simplen Bedienkonzept der Seite liegen, um den Kern der Seite mehr in den Fokus zu rücken. Dem Nutzer sollte es so einfach wie möglich gemacht werden, den günstigsten Preis für sein gewünschtes Produkt zu finden und diesen bei Bedarf mit anderen Anbietern zu vergleichen, um anschließend eine Kaufentscheidung von der look4keys Webseite aus zu treffen.",
                        </p>
                        <a href="#">
                            <button class="btn btn-light" style="display: block; margin: auto">
                                Mehr erfahren
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
