@model WebApp.Models.PortfolioViewModel

@using WebApp.Helper

<div class="transparent-header" id="transparent-header">
    @await Html.PartialAsync("_header", Model)
</div>

@await Html.PartialAsync("_featured-item")

<div style="height: 800px; margin-top: 600px;" class="wrapper">
    <h1>
        <span>Case Studies</span>
    </h1>
</div>