@model WebApp.Models.PortfolioViewModel

@using WebApp.Helper

<div class="portfolio-header" id="portfolio-header">
    @await Html.PartialAsync("_header", Model)
</div>

@await Html.PartialAsync("_featured-item")

<div style="height: 800px; margin-top: 560px;" class="wrapper">
    <h1>
        <span>Case Studies</span>
    </h1>
</div>

<script>
    $(document).scroll(function() {
        let alpha = ($(this).scrollTop() / 100);
        $('#portfolio-header .rotated-background').css({background: `linear-gradient(160deg, rgba(40,163,95, ${alpha}) 0%, rgba(92,176,57, ${alpha}) 25%, rgba(146,187,32, ${alpha}) 50%,rgba(200,186,0, ${alpha}) 75%, rgba(255,200,0, ${alpha}) 100%)`})
    });
</script>